<script type="text/javascript">
	var firstSpec = true;
	var firstSem = true;
	var eventsNumber = '{{ uzytkownik.ileMoichWydarzen }}';
	{% for s in studenci %}
	{% if forloop.first %}
	var facultySt = '{{ s.kierunek.wydzial.id }}';
	var specializationSt = '{{ s.kierunek.id }}';
	var semesterSt = '{{ s.semestr }}';
	var levelSt = '{{ s.rodzajStudiow }}';
	var nameSt = '{{ uzytkownik.imie }}';
	var lastNameSt = '{{ uzytkownik.nazwisko }}';
	{% endif %}
	{% endfor %}


	selectItemByValue('sbox_events', eventsNumber);	
	getSpecializations(document.getElementById('select_faculty'));

	function size_dict(d)
	{
		c=0;
		for (i in d)
		++c;
		return c
	}
	
	
	function sendEmailAccount()
	{
		var tresc = document.getElementById('textarea_request').value;
		$.post("sendEmailAccount", {'textarea_request': tresc}, function(data)
			   {
					if (data =='Ok')
					{
						document.getElementById('textarea_request').value = "";
						checkTextarea();
						document.getElementById('response_text').style.color = 'black';
						document.getElementById('response_text').innerHTML = 'Wiadomość została wysłana do Administratora.';
				   }
				   else
				   {
					document.getElementById('textarea_request').value = "";
					checkTextarea();
					document.getElementById('response_text').style.color = 'red';
					document.getElementById('response_text').innerHTML = 'Podczas wysyłanie wystąpił błąd. Spróbuj ponownie później.';
				   }
			   }
			   );	
	}
	function sendAccountSettings()
	{
		try
		{
			var dane= {};
			var nameF = document.getElementById('fld_name').value;
			var lastNameF = document.getElementById('fld_lastName').value;
			var oldPassF = document.getElementById('fld_old_pass').value;
			var newPassF = document.getElementById('fld_new_pass').value;
			var newPass2F = document.getElementById('fld_new_pass2').value;
			var eventsF = document.getElementById('sbox_events').value;
			var facultyF = document.getElementById('select_faculty').value;
			var specialF = document.getElementById('select_specialization').value;
			var semesterF = document.getElementById('select_semester').value;
			var typeF = document.getElementById('select_type').value;
			
			if (nameF != nameSt)
				dane['imie'] = nameF
				
			if (lastNameF != lastNameSt)
				dane['nazwisko'] = lastNameF
				
			if (eventsF != eventsNumber)
				dane['ileWydarzen'] = eventsF
						
			if (specialF != specializationSt || semesterF != semesterSt || typeF != levelSt)
			{
				dane['kierunek'] = specialF
				dane['semestr'] = semesterF
				dane['stopien'] = typeF
			}
		
			var oldPassEmpty = oldPassF == '';
			var newPassEmpty = newPass2F =='';
			var newPassOk = newPassF == newPass2F ? true:false;
			
			
			var changes = size_dict(dane)>0;
		
			if (changes)
			{
				//Nowe haslo jest puste
				if(newPassEmpty && newPassOk)
				{
					alert('Zaraz zostaną zapisane zmiany');
					sendAccountData(dane);
					
				}
				//Podano nowe haslo
				else if(!newPassEmpty && newPassOk && !oldPassEmpty)
				{
					dane['stareHaslo'] = oldPassF;
					dane['haslo'] = newPassF;
					dane['haslo2'] = newPass2F;
					alert('Zaraz zostaną zapisane zmiany');
					sendAccountData(dane);
					
				}
				//Nowe hasla sie nie zgadzaja
				else if(!newPassOk)
				{
					alert('Hasla sie od siebie roznia!');
				}
				else if(oldPassEmpty)
				{
					alert('Nowe hasło nie zostanie zapisane, bo nie podałeś starego hasła');
					sendAccountData(dane);
				}
			}
			else
			{
				//Nowe haslo jest puste
				if(newPassEmpty && newPassOk)
				{
					alert('Nie wprowadzileś żadnych zmian');
				}
				// Wprowadzono nowe haslo
				else if(!newPassEmpty && newPassOk && !oldPassEmpty)
				{
					dane['stareHaslo'] = oldPassF;
					dane['haslo'] = newPassF;
					dane['haslo2'] = newPass2F;
					alert('Zaraz zostaną zapisane zmiany');
					sendAccountData(dane);
				}
				//Nowe hasla sie nie zgadzaja
				else if(!newPassOk)
				{
					alert('Hasła się od siebie różnią!');
				}
				else if(oldPassEmpty)
				{
					alert('Nowe hasło nie zostanie zapisane, bo nie podałeś starego hasła');
				}
			}
		}
		catch(err)
		{

		}
	}
	
	function sendAccountData(dane)
	{
		$.post("changeAccountSettings", dane, function(data)
			   {
					if (data !='')
					{
						var x = data.split(" ");
						for(i=0;i<x.length-1;i++)
						{
							alert(x[i]);
						}
				   }
				   else
				   {
						alert('Poprawnie zapisano zmiany');
				   }
			   }
			   );
	}
	//$('account-scroll').niceScroll({touchbehavior: true, grabcursorenabled: false});
	$("html").getNiceScroll().resize();
	
	    $(document).ready(function(){
        $('#subPlanButt').click(function(){
            $('#parserPWR').append('<br><span id="load">Wczytuję...<img src="img/ajax-loader.gif"></img></span>');
            $.ajax({
              type: 'POST',
              url: '/generujPlan',
              data: { userPWR: $('#userPWR').val(), passPWR: $('#passPWR').val() },
              success : function(msg) {
                if (msg=="no"){
                  alert('Możliwość importowania zajęć dla studentów wielu kierunków, będzie możliwa w nowszej wersji.');
                } else if (msg =="problem") {
                  alert("Sprawdz Edukacje!")
                } else {
                  loadContent("timetable2");
                }
                $('#load').remove();
              },
              error: function(error) {
                  $('#load').remove();
                  //$.ajax({
                  // type: 'POST',
                  // url: '/generujPlan',
                  // data: { userPWR: $('#userPWR').val(), passPWR: $('#passPWR').val() },
                  // success : function(msg) {
                  // if (msg=="no"){
                  // alert('Możliwość importowania zajęć dla studentów wielu kierunków, będzie możliwa w nowszej wersji.');
                  // } else if (msg =="problem") {
                  // alert("Sprawdz Edukacje!")
                  // } else {
                  // loadContent("timetable2");
                  // czyNieKoniec = false
                  // }
                  // },
                  //});
                  alert("Wystąpił błąd w połączniu z edukacją. Proszę spróbuj ponownie, lub sprawdź, czy nie wpisujesz złego loginu lub hasła.");
                
              }
            });

            //$.post('/generujPlan', { userPWR: $('#userPWR').val(), passPWR: $('#passPWR').val() },
            // function(msg) {
            // if (msg=="no"){
            // alert('Możliwość importowania zajęć dla studentów wielu kierunków, będzie możliwa w nowszej wersji.');
            // } else if (msg =="problem") {
            // alert("Sprawdz Edukacje!")
            // } else {
            // loadContent("timetable2");
            // }
            // });
        });
    });
	
	/* TUTAJ TRZEBA ROZWAZYC W JAKIM DIVIE JEST!!!
    $(document).keypress(function(event){
 
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){ //Jesli wystapi klikniecie enter
        $('#subPlanButt').trigger('click');	
      }
     
    });
*/
				
</script>
				<div id="left-box-account">
					<div id="account-scroll">
						<ul id="account-menu">
							<li><a href='javascript:;' id="acc-settings" onclick = 'showChoice(this);'>Ustawienia</a></li>
							<li><a href='javascript:;' id="acc-timetable" onclick = 'showChoice(this);'>Plan zajęć</a></li>
							<li><a href='javascript:;' id="acc-admin" onclick = 'showChoice(this);'>Administracja</a></li>
						</ul>
					</div>
				</div>
				<div id="right-box">
					<div id="account-content">
					
						<!-- TIMETABLE_ACCOUNT -->
						<div id='timetable_account' style="display: none" class="account-form">
							<div id='parserPWR'>
								<table class="table-account">
									<tr>
										<td class="table-left-side">Login:</td>
										<td class="table-right-side"><input class="account-input" type="text" name="userPWR" id="userPWR" value="" /></td>
									</tr>
									<tr>
										<td class="table-left-side">Hasło:</td>
										<td class="table-right-side"><input class="account-input" type="password" name="passPwr" id="passPWR" value="" /></td>
									</tr>
								</table>
							</div>
							<div class="account-center">
								<input class="account-submit" type="submit" name="subPlanButt" id="subPlanButt" value="Wczytaj" />
							</div>
						</div>
						
											
						<!-- SETTINGS_ACCOUNT -->
						<div id = 'settings_account' style="display:block;" class="account-form">
							<p>Dane osobowe</p>
							<table class="table-account">
								<tr>
									<td class="table-left-side">Nick:</td>
									<td class="table-right-side"><b> &nbsp {{ uzytkownik.nick }}</b></td>
								</tr>
								<tr>
									<td class="table-left-side">Indeks: </td>
									<td class="table-right-side"> &nbsp {% for s in studenci %}{% if forloop.first %}<b>{{ s.indeks }}</b>{% endif %}{% endfor %}</td>
								</tr>
								<tr>
									<td class="table-left-side">Imię:</td>
									<td class="table-right-side"><input class="account-input" type="text" name="fld_name" id="fld_name" value="{{ uzytkownik.imie }}" /></td>
								</tr>
								<tr>
									<td class="table-left-side">Nazwisko:</td>
									<td class="table-right-side"><input class="account-input" type="text" name="fld_lastName" id="fld_lastName" value="{{ uzytkownik.nazwisko }}" /></td>
								</tr>
							</table>
                          
                            <div class="account-space">
							</div>
							<p>Dane studenta</p>
							
							{% for s in studenci %}
							<table class="table-account">
								<tr>
									<td class="table-left-side">Wydział:</td>
									<td class="table-right-side">
										<select class="account-settings-changes-select-input" id="select_faculty"  onchange='getSpecializations(this);'>
										{% for wydz in wydzialy %}
											<option value={{ wydz.id }} {% if wydz.id == s.kierunek.wydzial.id %} selected='selected' {% endif %}>{{ wydz.nazwa }}</option>
										{% endfor %}
										</select>
									</td>
								</tr>
								<tr>
									<td class="table-left-side">Kierunek:</td>
									<td class="table-right-side">
										<select class="account-settings-changes-select-input" id="select_specialization" onchange='getSemesters();'>
										</select>
									</td>
								</tr>
								<tr>
									<td class="table-left-side">Semestr:</td>
									<td class="table-right-side">
										<select class="account-settings-changes-select-input" id="select_semester">
										</select>
									</td>
								</tr>
								<tr>
									<td class="table-left-side">Stopień:</td>
									<td class="table-right-side">
										<select class="account-settings-changes-select-input" id="select_type" onchange='getSemesters();'>
											<option value="1">I-go stopnia</option>
											<option value="2">II-go stopnia</option>
										</select>
									</td>
								</tr>
							</table>
							{% endfor %}
							<div class="account-space">
							</div>
							<p>Jakiś tekst z opisem...</p>
							<p>Z ilu dni w przód chcesz widzieć swoje zbliżające się wydarzenia (pomijając aktualny dzień)?
								<select class="account-settings-days-select-input" id="sbox_events">
									<option>0</option>
									<option>1</option>
									<option>3</option>
									<option>7</option>
									<option>14</option>
									<option>28</option>
								</select>
							</p>
							<div class="account-space">
							</div>

							<p>Zmiana hasła</p>
							<table class="table-account">
								<tr>
									<td class="table-left-side">Stare hasło:</td>
									<td class="table-right-side"><input class="account-input" type="password" name="fld_old_pass" id="fld_old_pass" value="" /></td>
								</tr>
								<tr>
									<td class="table-left-side">Nowe hasło:</td>
									<td class="table-right-side"><input class="account-input" type="password" name="fld_new_pass" id="fld_new_pass" value="" /></td>
								</tr>
								<tr>
									<td class="table-left-side">Potwierdzenie hasła:</td>
									<td class="table-right-side"><input class="account-input" type="password" name="fld_new_pass2" id="fld_new_pass2" value="" /></td>
								</tr>
							</table>

							<div class="account-center">
								<input class="account-submit" type="button" name="btn_settings" id="btn_settings" onclick="sendAccountSettings();" value="Zapisz" />
							</div>
							<div class="account-space">
							</div>

							<p>Jeśli chcesz zmienić dane, do których nie masz dostępu w ustawieniach, prosimy o notatkę wraz z wyjaśnieniem na ten temat (250 znaków):</p>
							<input type="text" class="account-counter" id="textarea_request_char" style="width: 400px" readonly=true value = "250/250" /><br />
							<textarea class="account-textarea" id="textarea_request" name ="textarea_request" onkeyup='checkTextarea();'></textarea>
							<div class="account-center">
								<input class="account-submit" type="button" name="btn_request" id="btn_request" onclick='sendEmailAccount();' disabled = 'disabled' value="Wyślij" />
								<p id='response_text'> <br></p>
							</div>
						</div>
							
							
						<!-- ADMINISTRATION_ACCOUNT -->
						<div id = 'administration_account' style="display: none" class="account-form">
							<p>Jakiś tekst z opisem...</p>
							<table class="table-account">
								<tr>
									<td class="table-left-side"><input type="radio" name="radio_write_rights" value="block" /></td>
									<td class="table-right-side">Zablokuj możliwość pisania/edycji
										<br />
										na czas:
										<select class="account-admin-select-input" id="sbox_block_time">
											<option>1 dzień</option>
											<option>1 tydzień</option>
											<option>1 miesiąc</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="table-left-side"><input type="radio" name="radio_write_rights" value="unblock" /></td>
									<td class="table-right-side">Przywróć pełne prawa użytkownika</td>
								</tr>
								<tr>
									<td class="table-left-side">Nick:</td>
									<td class="table-right-side"><input class="account-input" type="text" name="fld_rights_nick" id="fld_rights_nick" value="" /></td>
								</tr>
							</table>
							<div class="account-center">
								<input class="account-submit" type="submit" name="btn_rights" id="btn_rights" value="OK" />
							</div>
						</div>
					</div>
				</div>

	
	