<script type="text/javascript">
var firstSpec = true;
var firstSem = true;
var eventsNumber = '{{ uzytkownik.ileMoichWydarzen }}';
var nameSt = '{{ uzytkownik.imie }}';
var lastNameSt = '{{ uzytkownik.nazwisko }}';
var facultyNumber = "";


var facultySt = {};
var specializationSt = {};
var semesterSt = {};
var levelSt = {};

//$("html").getNiceScroll().resize();


{% for s in studenci %}
specializationSt['{{ s.id }}'] = '{{ s.kierunek.id }}';
semesterSt['{{ s.id }}'] = '{{ s.semestr }}';
levelSt['{{ s.id }}'] = '{{ s.rodzajStudiow }}';
//getSpecializations(document.getElementById('select_faculty{{ forloop.counter }}'));
{% endfor %}


function setAsDefault(img)
{
	var student = img.name;
	dane = {}
	dane['studentId'] = student;
	$.post("changeDefaultStudent", dane, function(data)
	{
		if (data == 'Fail')
		{
			alert('Wystąpił błąd, spróbuj ponownie później.');
			//setTextResponse('responseAcc', 'red', 'Wystąpił nieoczekiwany błąd. Spróbuj ponownie później.');
		}
		else if(data == 'Ok')
		{
			alert('Domyślny kierunek został zmieniony');
			loadContent('account')
			//setTextResponse('responseAcc', 'black', 'Dane zostały zmienione.');
		}
	});
	
}

function removeStudent(img)
{
	var student = img.name;
	dane = {}
	dane['studentId'] = student;
	var domyslny = "{{ uzytkownik.domyslny }}";
	if (student != domyslny)
	{
		if(confirm("Czy na pewno chcesz usunąć ten kierunek?"))
		{
			$.post("removeStudent", dane, function(data)
			{
				if (data == 'Fail')
				{
					alert('Wystąpił błąd, spróbuj ponownie później.');
					//setTextResponse('responseAcc', 'red', 'Wystąpił nieoczekiwany błąd. Spróbuj ponownie później.');
				}
				else if(data == 'Ok')
				{
					alert('Kierunek został wyłączony.');
					loadContent('account');
					//setTextResponse('responseAcc', 'black', 'Dane zostały zmienione.');
				}
			});
		}
	}
	else
	{
		alert('Nie możesz usunąć domyślnego kierunku. Wybierz inny kierunek domyślny i spróbuj ponownie.');
	}
}
function refreshFromSpec(sel)
{
	var selName = sel.id;
	facultyNumber = selName.substring(21);
	getSemesters();
}

function addNewSpec()
{
	dane = {};
	dane['kierunek'] = document.getElementById('select_specialization').value;
	dane['semestr'] = document.getElementById('select_semester').value;
	dane['stopien'] = document.getElementById('select_type').value;
	
	$.post("addStudent", dane, function(data)
	{
		// 0 - poprawna zmiana hasła
		// 1 - juz jest ten semestr
		// 2 - wystąpił błąd
		if (data == '0')
		{
			alert('Dodano kierunek.');
			loadContentAfter('account', function(){
				var settingsDiv = document.getElementById('settings_account');
				var specializationDiv = document.getElementById('specs_account');
				settingsDiv.style.display='none';
				specializationDiv.style.display='block';	
			});

			/*
			document.getElementById('fld_old_pass').value = "";
			document.getElementById('fld_new_pass').value = "";
			document.getElementById('fld_new_pass2').value = "";
			setTextResponse('responsePass', 'black', 'Hasło zostało zmienione.');
			*/
			
			
		}
		else if (data == '1')
		{
			alert('Jesteś już zapisany na wybrany kierunek.');
			//setTextResponse('responsePass', 'red', 'Podane przez Ciebie hasło nie spełnia wymagań.');
		}
		else if (data == '2')
		{
			alert('Wystąpił nieoczekiwany błąd. Spróbuj ponownie.');
			//setTextResponse('responsePass', 'red', 'Nowe hasło musi być inne niż poprzednie.');
		}
	});

}

function showEditSpec(link)
{
	var divName = 'edit' + link.name;
	editDiv = document.getElementById(divName);
	if (editDiv.style.display == 'none')
	{
		editDiv.style.display = 'block';
	}
	else
	{
		editDiv.style.display = 'none'
	}
}

function refreshFromType(sel)
{
	var selName = sel.id;
	facultyNumber = selName.substring(11);
	getSemesters();
}
selectItemByValue('sbox_events', eventsNumber);	

function size_dict(d)
{
	c=0;
	for (i in d)
	++c;
	return c
}

function changePassword()
{
	var oldPassF = document.getElementById('fld_old_pass').value;
	var newPassF = document.getElementById('fld_new_pass').value;
	var newPass2F = document.getElementById('fld_new_pass2').value;
	
	var oldPassEmpty = oldPassF == '';
	var newPassEmpty = newPassF =='';
	var newPass2Empty = newPass2F =='';
	var passEqual = newPassF == newPass2F ? true:false;
	var allPassEqual = passEqual && (oldPassF == newPassF)
	
	if(oldPassEmpty && newPassEmpty && newPass2Empty ) // wszystkie pola są puste
	{
		setTextResponse('responsePass', 'black', '<br>');
	}
	else if (oldPassEmpty) // stare haslo jest puste, a inne nie
	{
		//alert('Nie podałeś starego hasła. Popraw dane i spróbuj ponownie');
		setTextResponse('responsePass', 'red', 'Nie podałeś starego hasła. Popraw dane i spróbuj ponownie.');
	}
	else if(!passEqual)// stare haslo jest podane, ale nowe się od siebie różnią
	{
		setTextResponse('responsePass', 'red', 'Hasła się od siebie różnią. Popraw dane i spróbuj ponownie');
	}
	else if(allPassEqual)	// wszystkie hasla są takie same
	{
		setTextResponse('responsePass', 'red', 'Nowe hasło musi być inne niż poprzednie.');
	}
	else if(!checkPassword(newPassF)) // haslo nie spelnia wymagan
	{
		setTextResponse('responsePass', 'red', 'Podane przez Ciebie hasło nie spełnia wymagań.');
	}
	else	// wszystko ok
	{
		var dane= {};
		dane['stareHaslo'] = oldPassF;
		dane['haslo'] = newPassF;
		dane['haslo2'] = newPass2F;
		changePasswordPOST(dane);
	}
}
function changePasswordPOST(dane)
{
	$.post("changePasswordAccount", dane, function(data)
	{
		// 0 - poprawna zmiana hasła
		// 1 - nowe hasło nie spełnia wymagań
		// 2 - nowe hasło nie różni się od starego
		// 3 - nowe hasła się od siebie różnią
		// 4 - podane  hasło nie zgadza się z aktualnym
		// 5 - inny blad
		if (data == '0')
		{
			document.getElementById('fld_old_pass').value = "";
			document.getElementById('fld_new_pass').value = "";
			document.getElementById('fld_new_pass2').value = "";
			setTextResponse('responsePass', 'black', 'Hasło zostało zmienione.');
		}
		else if (data == '1')
		{
			setTextResponse('responsePass', 'red', 'Podane przez Ciebie hasło nie spełnia wymagań.');
		}
		else if (data == '2')
		{
			setTextResponse('responsePass', 'red', 'Nowe hasło musi być inne niż poprzednie.');
		}
		else if (data == '3')
		{
			setTextResponse('responsePass', 'red', 'Hasła się od siebie różnią. Popraw dane i spróbuj ponownie.');
		}
		else if (data == '4')
		{
			setTextResponse('responsePass', 'red', 'Podane hasło nie zgadza się z aktualnym.');
		}
		else
		{
			document.getElementById('fld_old_pass').value = "";
			document.getElementById('fld_new_pass').value = "";
			document.getElementById('fld_new_pass2').value = "";
			setTextResponse('responsePass', 'red', 'Wystąpił błąd, spróbuj ponownie.');
		}
	});
}

function checkPassword(valueF)
{
    var reg = /^(?!.*(.)\1{3})((?=.*[\d])(?=.*[A-Za-z])|(?=.*[^\w\d\s])(?=.*[A-Za-z])).{8,20}$/;
    return (reg.test(valueF))
}	
	
function sendEmailAccount()
{
	var tresc = document.getElementById('textarea_request').value;
	if (tresc.length >0 && tresc.length <=250)
	{
		$.post("sendEmailAccount", {'textarea_request': tresc}, function(data)
		{
			if (data =='Ok')
			{
				document.getElementById('textarea_request').value = "";
				checkTextarea();
				setTextResponse('responseMail', 'black', 'Wiadomość została wysłana do Administratora.');
		   }
		   else
		   {
				document.getElementById('textarea_request').value = "";
				checkTextarea();
				setTextResponse('responseMail', 'red', 'Podczas wysyłanie wystąpił błąd. Spróbuj ponownie później.')
			}
		});
	}
}


function setTextResponse(filedId, color, tresc)
{
	document.getElementById(filedId).style.color = color;
	document.getElementById(filedId).innerHTML = tresc;
}

function validateAccount()
{
	dane = {};
	updateNameR();
	updateLastNameR();
	if(checkNameR() && checkLastNameR())
	{
		var nameF = document.getElementById('fld_name').value;
		var lastNameF = document.getElementById('fld_lastName').value;
		var eventsF = document.getElementById('sbox_events').value;
		
		if (nameF != nameSt)
		dane['imie'] = nameF
		
		if (lastNameF != lastNameSt)
		dane['nazwisko'] = lastNameF
		
		if (eventsF != eventsNumber)
		dane['ileWydarzen'] = eventsF
		
		var changes = size_dict(dane)>0;
		if (changes)
		{
			sendAccountData(dane);
		}
		else
		{
			setTextResponse('responseAcc', 'black', '<br>');
		}
	}
	else
	{
		setTextResponse('responseAcc', 'red', 'Dane nie spełniają wymaganych ograniczeń.');
	}
}

function validateSpec()
{
	var dane= {};
	var sid;
	var specialF = {};
	var semesterF = {};
	var typeF = {};

	
	{% for s in studenci %}
		sid = '{{ s.id }}';
		//SEPCIALIZATION
		spCh = document.getElementById('select_specialization' + sid).value != specializationSt[sid];
		semCh = document.getElementById('select_semester' + sid).value != semesterSt[sid];
		typCh = document.getElementById('select_type' + sid).value != levelSt[sid];
		
		if(spCh || semCh || typCh)
		{
			dane['kierunek' + sid] = document.getElementById('select_specialization' + sid).value;
			dane['semestr' + sid] = document.getElementById('select_semester' + sid).value;
			dane['stopien' + sid] = document.getElementById('select_type' + sid).value;
		}
	{% endfor %}
	
	
	var changes = size_dict(dane)>0;

	if (changes)
	{
		sendSpec(dane);
	}
	else
	{
		alert('Dane nie zostaly zmienione');
		//setTextResponse('responseAcc', 'black', '<br>');
	}
}


function sendAccountData(dane)
{
	$.post("changeAccountSettings", dane, function(data)
			{
				if (data == 'Fail')
				{
					setTextResponse('responseAcc', 'red', 'Wystąpił nieoczekiwany błąd. Spróbuj ponownie później.');
				}
				else if(data == 'Ok')
				{
					setTextResponse('responseAcc', 'black', 'Dane zostały zmienione.');
				}
			}
			);
}

function sendSpec(dane)
{
	$.post("changeAccountSettings", dane, function(data)
			{
				if (data == 'Fail')
				{
					alert('Nie udalo sie');
					//setTextResponse('responseAcc', 'red', 'Wystąpił nieoczekiwany błąd. Spróbuj ponownie później.');
				}
				else if(data == 'Ok')
				{
					alert('Ok');
					loadContentAfter('account', function(){
					var settingsDiv = document.getElementById('settings_account');
					var specializationDiv = document.getElementById('specs_account');
					settingsDiv.style.display='none';
					specializationDiv.style.display='block';	
			});
					//setTextResponse('responseAcc', 'black', 'Dane zostały zmienione.');
				}
			}
			);
}
//$('account-scroll').niceScroll({touchbehavior: true, grabcursorenabled: false});


	$(document).ready(function(){
	$('#subPlanButt').click(function(){
		$('#parserPWR').append('<br><span id="load">Wczytuję...<img src="img/ajax-loader.gif"></img></span>');
		$.ajax({
		  type: 'POST',
		  url: '/generujPlan',
		  data: { userPWR: $('#userPWR').val(), passPWR: $('#passPWR').val() },
		  success : function(msg) {
			if (msg=="no"){
			  alert('Możliwość importowania zajęć dla studentów wielu kierunków, będzie możliwa w nowszej wersji.');
			} else if (msg =="problem") {
			  alert("Sprawdz Edukacje!")
			} else {
			  loadContent("timetable2");
			}
			$('#load').remove();
		  },
		  error: function(error) {
			  $('#load').remove();
			  //$.ajax({
			  // type: 'POST',
			  // url: '/generujPlan',
			  // data: { userPWR: $('#userPWR').val(), passPWR: $('#passPWR').val() },
			  // success : function(msg) {
			  // if (msg=="no"){
			  // alert('Możliwość importowania zajęć dla studentów wielu kierunków, będzie możliwa w nowszej wersji.');
			  // } else if (msg =="problem") {
			  // alert("Sprawdz Edukacje!")
			  // } else {
			  // loadContent("timetable2");
			  // czyNieKoniec = false
			  // }
			  // },
			  //});
			  alert("Wystąpił błąd w połączniu z edukacją. Proszę spróbuj ponownie, lub sprawdź, czy nie wpisujesz złego loginu lub hasła.");
			
		  }
		});

		//$.post('/generujPlan', { userPWR: $('#userPWR').val(), passPWR: $('#passPWR').val() },
		// function(msg) {
		// if (msg=="no"){
		// alert('Możliwość importowania zajęć dla studentów wielu kierunków, będzie możliwa w nowszej wersji.');
		// } else if (msg =="problem") {
		// alert("Sprawdz Edukacje!")
		// } else {
		// loadContent("timetable2");
		// }
		// });
	});
});

/* TUTAJ TRZEBA ROZWAZYC W JAKIM DIVIE JEST!!!
$(document).keypress(function(event){

  var keycode = (event.keyCode ? event.keyCode : event.which);
  if(keycode == '13'){ //Jesli wystapi klikniecie enter
	$('#subPlanButt').trigger('click');	
  }
 
});
*/

getSpecializations(document.getElementById('select_faculty'));		
</script>
				<div id="left-box-account">
					<div id="account-scroll">
						<ul id="account-menu">
							<li><a href='javascript:;' id="acc-settings" onclick = 'showChoice(this);'>Profil użytkownika</a></li>
							<li><a href='javascript:;' id="acc-timetable" onclick = 'showChoice(this);'>Plan zajęć</a></li>
							<li><a href='javascript:;' id="acc-specs" onclick = 'showChoice(this);'>Kierunki studiów</a></li>
							<li><a href='javascript:;' id="acc-admin" onclick = 'showChoice(this);'>Administracja</a></li> 
						</ul>
					</div>
				</div>
				<div id="right-box">
					<div id="account-content">
						
						<!-- TIMETABLE_ACCOUNT -->
						<div id='timetable_account' style="display: none" class="account-form">
						<p><u>Generowanie planu zajęć</u></p>
						Aby stworzyć plan zajęć podaj swój login oraz hasło wykorzystywane w systemie Edukacja.CL.<br />
						Plan tworzy się jednorazowo, a wprowadzone przez Ciebie dane nie będą nigdzie zapisywane.<br /><br />
							<div id='parserPWR'>
								<table class="table-account-smaller">
									<tr>
										<td class="table-left-side">Login:</td>
										<td class="table-right-side"><input class="account-input-smaller" type="text" name="userPWR" id="userPWR" value="" /></td>
									</tr>
									<tr>
										<td class="table-left-side">Hasło:</td>
										<td class="table-right-side"><input class="account-input-smaller" type="password" name="passPwr" id="passPWR" value="" /></td>
									</tr>
								</table>
							</div>
							<div class="account-center">
								<input class="account-submit" type="submit" name="subPlanButt" id="subPlanButt" value="Wczytaj" />
							</div>
						</div>
						
											
						<!-- SETTINGS_ACCOUNT -->
						<div id = 'settings_account' style="display:block;" class="account-form">
							<fieldset>
								<legend>Profil użytkownika</legend>
								<p><u>Dane osobowe</u></p>
								<table class="table-account">
									<tr>
										<td class="table-left-side">Nick:</td>
										<td class="table-right-side"><b> &nbsp {{ uzytkownik.nick }}</b></td>
									</tr>
									<tr>
										<td class="table-left-side">Indeks: </td>
										<td class="table-right-side"> &nbsp {% for s in studenci %}{% if forloop.first %}<b>{{ s.indeks }}</b>{% endif %}{% endfor %}</td>
									</tr>
									<tr>
										<td class="table-left-side">Kierunek:</td>
										<td class="table-right-side"> &nbsp {% for s in studenci %}{% if s.id == uzytkownik.domyslny %}<b>{{ s.kierunek.nazwa }}</b>{% endif %}{% endfor %}</td>
									</tr>
									<tr>
										<td class="table-left-side">Wydział:</td>
										<td class="table-right-side"> &nbsp {% for s in studenci %}{% if s.id == uzytkownik.domyslny %}<b>{{ s.kierunek.wydzial.nazwa }}</b>{% endif %}{% endfor %}</td>
									</tr>
									<tr>
										<td class="table-left-side">Stopień:</td>
										<td class="table-right-side"> &nbsp {% for s in studenci %}{% if s.id == uzytkownik.domyslny %}<b>{% if s.stopien == 2 %}II {% else %}I {% endif %}</b>{% endif %}{% endfor %}</td>
									</tr>
									<tr>
										<td class="table-left-side">Semestr:</td>
										<td class="table-right-side"> &nbsp {% for s in studenci %}{% if s.id == uzytkownik.domyslny %}<b>{{ s.semestr }}</b>{% endif %}{% endfor %}</td>
									</tr>
									<tr>
										<td class="table-left-side">Imię:</td>
										<td class="table-right-side"><input class="account-input" type="text" name="fld_name" id="fld_name" value="{{ uzytkownik.imie }}" /></td>
									</tr>
									<tr>
										<td class="table-left-side">Nazwisko:</td>
										<td class="table-right-side"><input class="account-input" type="text" name="fld_lastName" id="fld_lastName" value="{{ uzytkownik.nazwisko }}" /></td>
									</tr>
								</table>
								<div class="account-space">
								</div>
								<hr style="width: 400px; color: #449def"> 
								<p><u>Personalizacja konta</u></p>
								
								<table class="table-account">
									<tr>
										<td class="table-left-side">Wydarzenia:</td>
										<td class="table-right-side">
											<select class="account-settings-changes-select-input"  id="sbox_events">
												<option>0</option>
												<option>1</option>
												<option>3</option>
												<option>7</option>
												<option>14</option>
												<option>28</option>
											</select>
									</tr>
								</table>
								
	
	
								<div class="account-center">
									<input class="account-submit" type="button" name="btn_settings" id="btn_settings" onclick="validateAccount();" value="Zapisz" />
									<p id='responseAcc'> <br></p>
								</div>
								
							</fieldset>
							</fieldset>
							<br />
							<fieldset>
								<legend>Zmiana hasła</legend>
								<br />
								<table class="table-account">
									<tr>
										<td class="table-left-side">Stare hasło:</td>
										<td class="table-right-side"><input class="account-input" type="password" name="fld_old_pass" id="fld_old_pass" value="" /></td>
									</tr>
									<tr>
										<td class="table-left-side">Nowe hasło:</td>
										<td class="table-right-side"><input class="account-input" type="password" name="fld_new_pass" id="fld_new_pass" value="" /></td>
									</tr>
									<tr>
										<td class="table-left-side">Potwierdzenie hasła:</td>
										<td class="table-right-side"><input class="account-input" type="password" name="fld_new_pass2" id="fld_new_pass2" value="" /></td>
										
									</tr>
								</table>
								<div class="account-center">
									<input class="account-submit" type="button" name="btn_pass" id="btn_pass" onclick="changePassword();" value="Zmień" />
									<p id='responsePass'> <br></p>
								</div>
							</fieldset>
							<br />
							<fieldset>
								<legend>Uwagi</legend>
	
								<p>Jeśli chcesz zmienić dane, do których nie masz dostępu w ustawieniach, prosimy o notatkę wraz z wyjaśnieniem na ten temat (250 znaków):</p>
								<input type="text" class="account-counter" id="textarea_request_char" style="width: 400px" readonly=true value = "250/250" /><br />
								<textarea class="account-textarea" id="textarea_request" name ="textarea_request" onkeyup='checkTextarea();'></textarea>
								<div class="account-center">
									<input class="account-submit" type="button" name="btn_request" id="btn_request" onclick='sendEmailAccount();' disabled = 'disabled' value="Wyślij" />
									<p id='responseMail'> <br></p>
								</div>
							</fieldset>
							
							<!-- -------------------------- -->

						</div>
						
						<!-- SPECS_ACCOUNT -->
						<div id = 'specs_account' style="display: none; text-align: left" class="account-form">
							
							<fieldset>
								<legend>Lista kierunków</legend>
								<ul>
								{% for s in studenci %}
									
									<b>
								<li>
										{% for nazwa in s.kierunek.wydzial.numerWydzialu %}
											{% if forloop.counter == 1 %}
												{{ nazwa }} -
											{% endif %}
										{% endfor %}
										{{ s.kierunek.nazwa }}, semestr {{ s.semestr }}, {% if s.rodzajStudiow == 1 %}studia I stopnia{% else %}studia II stopnia{% endif %}
											</b>
											
											<img src="media/html/img/del.png" alt="usun" name = "{{ s.id }}"  width="14" height="14" onclick= "removeStudent(this);" /><br />
											<a href='javascript:;' name = "{{ s.id }}" onclick = "setAsDefault(this);">ustaw jako domyślny</a>
											<br /><a href="javascript:;" name = "{{s.id}}" onclick="showEditSpec(this);">edytuj...</a> <br />
						
									
									<div id = "edit{{ s.id }}" style="display: none">
										<!--TO JEST EDYCJA KIERUNKU-->
										<table class="table-account"> 
											<tr>
												<td class="table-left-side">Wydział:</td>
												<td class="table-right-side">
													<select class="account-settings-changes-select-input" id="select_faculty{{ s.id }}"  onchange='getSpecializations(this);'>
													{% for wydz in wydzialy %}
														<option value={{ wydz.id }} {% if wydz.id == s.kierunek.wydzial.id %} selected='selected' {% endif %}>{{ wydz.nazwa }}</option>
													{% endfor %}
													</select>
												</td>
											</tr>
											<tr>
												<td class="table-left-side">Kierunek:</td>
												<td class="table-right-side">
													<select class="account-settings-changes-select-input" id="select_specialization{{ s.id }}" onchange='refreshFromSpec(this);'>
													{% for k in kierunki %}
														{% ifequal k.wydzial.id s.kierunek.wydzial.id %}
														<option value={{ k.id }} {% if k.id == s.kierunek.id %} selected='selected' {% endif %}>{{ k.nazwa }}</option>
														{% endifequal %}
													{% endfor %}
													</select>
												</td>
											</tr>
											<tr>
												<td class="table-left-side">Stopień:</td>
												<td class="table-right-side">
													<select class="account-settings-changes-select-input" id="select_type{{ s.id }}" onchange='refreshFromType(this);'>
														<option value="1" {% if s.rodzajStudiow == 1 %} selected='selected' {% endif %}>I-go stopnia</option>
														<option value="2" {% if s.rodzajStudiow == 2 %} selected='selected' {% endif %}>II-go stopnia</option>
													</select>
												</td>
											</tr>
											<tr>
												<td class="table-left-side">Semestr:</td>
												<td class="table-right-side">
													<select class="account-settings-changes-select-input" id="select_semester{{ s.id }}">
													{% for x in "1234567"|make_list %}
														{% if s.rodzajStudiow == 1 %}
															{% if forloop.counter <= s.kierunek.liczbaSemestrow1st %}
																<option value='{{ forloop.counter }}' {% if s.semestr == forloop.counter  %} selected='selected' {% endif %}>{{ forloop.counter }}</option>
															{% endif%}
														{% else %}
															{% if forloop.counter <= s.kierunek.liczbaSemestrow2stPoInz %}
																<option value='{{ forloop.counter }}' {% if s.semestr == forloop.counter  %} selected='selected' {% endif %}>{{ forloop.counter }}</option>
															{% endif%}												
														{% endif %}
													{% endfor %}
													</select>
												</td>
											</tr>
											
										</table>
									</div>
								
									{% if ileKierunkow > 1 %}
										{% if forloop.counter < ileKierunkow %}
										<br>
										{% endif %}
									{% endif %}
									</li>
								{% endfor %}
								</ul>
								<input class="account-submit" type="button" onclick="validateSpec();" value="Zapisz" />
							</fieldset>
						
							<div class="account-space">
							</div>
							<fieldset>
								<legend>Nowy kierunek</legend>
								<table class="table-specs">
									<tr>
										<td class="table-left-side">Wydział:</td>
										<td class="table-right-side">
										<select class="portal-select-input" name="select_faculty" id="select_faculty" onchange='getSpecializations(this);'>
										{% for wydz in wydzialy %}
											<option value={{ wydz.id }}>{{ wydz.nazwa }}</option>
										{% endfor %}
										</select> </td>
									</tr>
									<tr>
										<td class="table-left-side">Kierunek studiów:</td>
										<td class="table-right-side">
										<select class="portal-select-input" name="select_specialization" id="select_specialization" style=width:200px onchange='getSemesters();'>

										</select> 
										</td>
									</tr>
									<tr>
										<td class="table-left-side">Rodzaj studiów:</td>
										<td class="table-right-side">
										<select class="portal-select-input" name="select_type" id="select_type" onchange='getSemesters();'>
											<option value="1">I-go stopnia</option>
											<option value="2">II-go stopnia</option>
										</select>
										</td>
									</tr>
									<tr>
										<td class="table-left-side">Numer semestru:</td>
										<td class="table-right-side"><select class="portal-select-input" name="select_semester" id="select_semester"  style=width:200px >
										
										</select> </td>
									</tr>
								</table>
								<div class="account-center">
									<input class="account-submit" type="button" name="btn_specs" id="btn_specs" onclick="addNewSpec();" value="Dodaj" />
									<p id='responseNewSpec'> <br></p>
								</div>	
							</fieldset>
						</div>
						
						
						<!-- ADMINISTRATION_ACCOUNT -->
						<div id = 'administration_account' style="display: none" class="account-form">
							<p>Jakiś tekst z opisem...</p>
							<table class="table-account-smaller">
								<tr>
									<td class="table-left-side"><input type="radio" name="radio_write_rights" value="block" /></td>
									<td class="table-right-side">Zablokuj możliwość pisania/edycji
										<br />
										na czas:
										<select class="account-admin-select-input" id="sbox_block_time">
											<option>1 dzień</option>
											<option>1 tydzień</option>
											<option>1 miesiąc</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="table-left-side"><input type="radio" name="radio_write_rights" value="unblock" /></td>
									<td class="table-right-side">Przywróć pełne prawa użytkownika</td>
								</tr>
								<tr>
									<td class="table-left-side">Nick:</td>
									<td class="table-right-side"><input class="account-input-smaller" type="text" name="fld_rights_nick" id="fld_rights_nick" value="" /></td>
								</tr>
							</table>
							<div class="account-center">
								<input class="account-submit" type="submit" name="btn_rights" id="btn_rights" value="OK" />
							</div>
						</div>
					</div>
				</div>

	
	