		<script type='text/javascript'>
            
        var isDescription = false;
        var activeEvent;
		var kalendarz = {}
		
		var id, nazwa, opis, dataWyd, godzinaOd, godzinaDo, typ, grupa;
		
		{% for k in kalendarz %}
		id = '{{ k.wydarzenie.id }}';
		nazwa = '{{ k.wydarzenie.nazwa }}';
		opis = '{{ k.opis }}';
		dataWyd = '{{ k.wydarzenie.dataWydarzenia|date:"d b Y" }}'
		godzinaOd = '{{ k.wydarzenie.godzinaOd }}'.substring(0, 5);
		godzinaDo = '{{ k.wydarzenie.godzinaDo }}'.substring(0, 5);
		typ = '{{ k.wydarzenie.rodzajWydarzenia }}';
		grupa = '{{ k.wydarzenie.grupa.id }}';
                
		kalendarz[id] = [ [nazwa], [opis], [dataWyd], [godzinaOd], [godzinaDo], [typ], [grupa]];
		{% endfor %}
		
		function showMyCal(){

			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();

			
			$('#calendar-content').fullCalendar({
				height: 500,
				editable: false,
				events: [                    
				{% for k in kalendarz %}
					{
						//title: '{{ k.wydarzenie.nazwa }}'.length > 14 ? '{{ k.wydarzenie.nazwa }}'.substring(0, 10) +"(...)" : '{{ k.wydarzenie.nazwa }}',
                        title: '{{ k.wydarzenie.nazwa }}',
						start: new Date({{ k.wydarzenie.dataWydarzenia|date:"Y" }}, {{ k.wydarzenie.dataWydarzenia|date:"m"}} -1, {{ k.wydarzenie.dataWydarzenia|date:"d"}}),
						id: '{{k.wydarzenie.id}}',
					},	
				{% endfor %}
				],
				eventClick: function(event) 
				{
					document.getElementById("sp_event_name").innerHTML = kalendarz[event.id][0];
					document.getElementById("sp_event_descr").innerHTML = kalendarz[event.id][1];
					document.getElementById("fld_change_descr").value = kalendarz[event.id][1];
					var gOd = kalendarz[event.id][3];
					var gDo = kalendarz[event.id][4];
                    
                     
					if(gOd != '00:00' || gDo != '00:00')
					{
						var godziny = gOd + " - " + gDo; 
						document.getElementById("sp_time").innerHTML = kalendarz[event.id][2] +", " + godziny;
					}
                    else
                    {
                        document.getElementById("sp_time").innerHTML = kalendarz[event.id][2];
                    }
					
					var rodzaj = kalendarz[event.id][5];
					
					//document.getElementById("sp_type").innerHTML = rodzaj;
                    isDescription = true;
                    document.getElementById("edit_event").style.display = "none";
                    activeEvent = event.id;
					menuAction(document.getElementById('a_desc'));
                   
					
				}
			});
		}
		
		$(function() {
		        $( "#left-box-draggable" ).draggable({ axis: "x", containment: "#main-content" });
    		});

			

function showEditDescr()
{
	var edycja = document.getElementById("edit_event");
	if(edycja.style.display == "none")
	{
		edycja.style.display = "block";
	}
	else
	{
		edycja.style.display = "none";
	}
}
			
function editDescr(img)
{
	var descr = document.getElementById('fld_change_descr').value;
    dane = {};
    dane['evId'] = activeEvent;
    dane['description'] = descr;
    $.post("editEventDescription", dane, function(data)
	{
		if (data == 'Fail')
		{
			
		}
		else if(data == 'Ok')
		{
			//alert('Ok');
            kalendarz[activeEvent][1] = descr;
            document.getElementById("sp_event_descr").innerHTML = descr;
            
		}
        showEditDescr();
        
	});
    
}			
function showHours()
{
    if (document.getElementById('specific_time').checked)
    {
        document.getElementById('sbox_add_time_from_h').disabled = false;
        document.getElementById('sbox_add_time_from_m').disabled = false;
        document.getElementById('sbox_add_time_to_h').disabled = false;
        document.getElementById('sbox_add_time_to_m').disabled = false;         
    }
    else
    {
        document.getElementById('sbox_add_time_from_h').disabled = true;
        document.getElementById('sbox_add_time_from_m').disabled = true;
        document.getElementById('sbox_add_time_to_h').disabled = true;
        document.getElementById('sbox_add_time_to_m').disabled = true;    
    }
}

function checkType()
{
    if(selectedOption('sbox_add_type') == "4")
    {
        document.getElementById("studentsClasses").style.display = "block";
    }
    else
    {
        document.getElementById("studentsClasses").style.display = "none";
    }
}

function addEvent()
{
    var eventName = document.getElementById('fld_add_name').value;
    if(eventName == "")
    {
        alert('Musisz podać nazwę wydarzenia.');
        return;
    }
    var eventDescription = document.getElementById('fld_add_description').value;
    if(eventDescription == "")
    {
        alert('Musisz podać opis wydarzenia.');
        return;
    }
    var allDay = document.getElementById('all_day').checked;

    var classId = "0";
    
    var startH, startM, endH, endM;
    if(allDay)
    {
        startH = startM = endH = endM = '00';
    }
    else
    {
        startH = selectedOption('sbox_add_time_from_h');
        startM = selectedOption('sbox_add_time_from_m');
        endH = selectedOption('sbox_add_time_to_h');
        endM = selectedOption('sbox_add_time_to_m');
    }
    var eventType = selectedOption('sbox_add_type');
    if(eventType =="4")
    {
        classId = selectedOption('sbox_add_class');
    }
    
    var addToCalendar = document.getElementById('cbox_add').checked ? 'yes' : 'no';
    
    // Te zmiennne trzeba zczytać z kalendarza
   // var eventDay = selectedOption('sbox_select_day');
    //var eventMonth = selectedOption('sbox_select_month');
    //var eventYear = selectedOption('sbox_select_year');
    
   // var fullDate = eventYear + "-" + eventMonth + "-" + eventDay;
   var fullDate = document.getElementById('datepicker').value;
   alert(fullDate);
    var tryDate = new Date(fullDate);
    if (!isValidDate(tryDate))
    {
        alert('Data jest niepoprawna!');
        return;
    }
    dane = {};
    dane['name'] = eventName;
    dane['description'] = eventDescription;
    dane['startH'] = startH;
    dane['startM'] = startM;
    dane['endH'] = endH;
    dane['endM'] = endM;
    dane['type'] = eventType;
    dane['class'] = classId;
    dane['day'] = fullDate.substring(8,10);
    dane['month'] = fullDate.substring(5,7);
    dane['year'] = fullDate.substring(0,4);
    dane['add'] = addToCalendar;

    sendEventData(dane);
    
}

function isValidDate(d) {
  if ( Object.prototype.toString.call(d) !== "[object Date]" )
    return false;
  return !isNaN(d.getTime());
}

function sendEventData(dane)
{
	$.post("addEvent", dane, function(data)
	{
		if (data == 'Fail')
		{
			alert('Wystąpił nieoczekiwany błąd, spróbuj ponownie później.');
		}
		else if(data == 'Ok')
		{
			loadContent('calendar');
		}
	});
}
		showMyCal();

        
function menuActionCheck(thiss)
{
    if(isDescription)
    {
        if ($(thiss).attr('class') != 'active'){
						$('#map-menu li ul').slideUp();
						$(thiss).next().slideToggle();
						$('#map-menu li a').removeClass('active');
						$(thiss).addClass('active');
					}
    }
}

    $(function() {
        $( "#datepicker" ).datepicker();
    });


function menuAction(thiss)
{
	if ($(thiss).attr('class') != 'active'){
						$('#map-menu li ul').slideUp();
						$(thiss).next().slideToggle();
						$('#map-menu li a').removeClass('active');
						$(thiss).addClass('active');
					}
}
	/*				$(document).ready(function () {
				$('#map-menu > li > a').click(function(){
					if ($(this).attr('class') != 'active'){
						$('#map-menu li ul').slideUp();
						$(this).next().slideToggle();
						$('#map-menu li a').removeClass('active');
						$(this).addClass('active');
					}
				});
			});
*/
		</script>
		
		<style type='text/css'>

			<!--to już jest w cssie-->
			#calendar-content {
				width: 950px;
				margin: 0 auto;
			}

		</style>
				<div id='calendar-content'>
				</div>
				
				<div id="left-box-draggable">
					<div id="calendar-scroll">
						<ul id="map-menu">
							<li><a href = "javascript:;" id = 'a_desc' onClick = "menuActionCheck(this);">Szczegóły wydarzenia</a>
								<ul><li>
								<div id="calendar-event-details">
                                    <u><span id = "sp_time"></span></u><br />
									<b><span id ="sp_event_name"></span></b><br />
                                    
                                 
                                    
									<span id ="sp_event_descr"></span> &nbsp <img src="media/html/img/edit.png" alt="Zmień nazwę" width="12" height="12" onClick = "showEditDescr();" /> <br />
									<span id = "edit_event" style="display: none"><input id = "fld_change_descr" class="calendar-input-smaller" type="text" value="" /> <img src="media/html/img/save.png" alt="zapisz" width="12" height="12" onClick = "editDescr();" /></span>
									
								</div>
								</li></ul>
							</li>
							
							<li><a href = "javascript:;"  onClick = "menuAction(this);">Dodawanie nowego wydarzenia</a>
							<ul><li>
							<div id="calendar-add-event">
                               
								<table class="table-calendar">
									<tr>
										<td class="table-left-side-calendar">Nazwa:</td>
										<td class="table-right-side"><input class="calendar-input" class="calendar-input" type="text" name="fld_add_name" id="fld_add_name" value=""/></td>
									</tr>
									<tr>
										<td class="table-left-side-calendar">Opis:</td>
										<td class="table-right-side"><input class="calendar-input" type="text" name="fld_add_description" id="fld_add_description" value=""></td>
									</tr>
                                    <tr>
										<td class="table-left-side-calendar">Data:</td>
										<td class="table-right-side"><input class="calendar-input" type="text" name="fld_add_description" id="datepicker" value=""></td>
									</tr>
								</table>



<!--                                 Data:<select id="sbox_select_day">
									<option value= '01'>1</option>
									<option value= '02'>2</option>
									<option value= '03'>3</option>
									<option value= '04'>4</option>
									<option value= '05'>5</option>
									<option value= '06'>6</option>
									<option value= '07'>7</option>
									<option value= '08'>8</option>
									<option value= '09'>9</option>
									<option value= '10'>10</option>
									<option value= '11'>11</option>
									<option value= '12'>12</option>
									<option value= '13'>13</option>
									<option value= '14'>14</option>
									<option value= '15'>15</option>
									<option value= '16'>16</option>
									<option value= '17'>17</option>
									<option value= '18'>18</option>
									<option value= '19'>19</option>
									<option value= '20'>20</option>
									<option value= '21'>21</option>
									<option value= '22'>22</option>
									<option value= '23'>23</option>
									<option value= '24'>24</option>
									<option value ='25'>25</option>
									<option value ='26'>26</option>
									<option value ='27'>27</option>
									<option value ='28'>28</option>
									<option value ='29'>29</option>
									<option value ='30'>30</option>
									<option value ='31'>31</option>
                                    </select>
                                    <select id="sbox_select_month">
                                    <option value= '01'>1</option>
									<option value= '02'>2</option>
									<option value= '03'>3</option>
									<option value= '04'>4</option>
									<option value= '05'>5</option>
									<option value= '06'>6</option>
									<option value= '07'>7</option>
									<option value= '08'>8</option>
									<option value= '09'>9</option>
									<option value= '10'>10</option>
									<option value= '11'>11</option>
									<option value= '12'>12</option>
                                    </select>
                                    <select id="sbox_select_year">
                                    <option value= '2012'>2012</option>
                                    <option value= '2013'>2013</option>
                                    </select>
                                    <br />-->
                                    
								<input type="radio" name="radio_add_day_event" id = "all_day" value="all_day" onclick="showHours();" checked/>Wydarzenie całodniowe
								<br />
								<input type="radio" name="radio_add_day_event" id = "specific_time" value="specific_time" onclick="showHours();" />Wydarzenie kilkugodzinne
								<br />
								Od:
								<select id="sbox_add_time_from_h" disabled="disabled">
									<option value= '00'>0</option>
									<option value= '01'>1</option>
									<option value= '02'>2</option>
									<option value= '03'>3</option>
									<option value= '04'>4</option>
									<option value= '05'>5</option>
									<option value= '06'>6</option>
									<option value= '07'>7</option>
									<option value= '08'>8</option>
									<option value= '09'>9</option>
									<option value= '10'>10</option>
									<option value= '11'>11</option>
									<option value= '12'>12</option>
									<option value= '13'>13</option>
									<option value= '14'>14</option>
									<option value= '15'>15</option>
									<option value= '16'>16</option>
									<option value= '17'>17</option>
									<option value= '18'>18</option>
									<option value= '19'>19</option>
									<option value= '20'>20</option>
									<option value= '21'>21</option>
									<option value= '22'>22</option>
									<option value= '23'>23</option>
									
								</select>
								<select id="sbox_add_time_from_m" disabled="disabled">
									<option value= '00'>0</option>
									<option value= '01'>1</option>
									<option value= '02'>2</option>
									<option value= '03'>3</option>
									<option value= '04'>4</option>
									<option value= '05'>5</option>
									<option value= '06'>6</option>
									<option value= '07'>7</option>
									<option value= '08'>8</option>
									<option value= '09'>9</option>
									<option value= '10'>10</option>
									<option value= '11'>11</option>
									<option value= '12'>12</option>
									<option value= '13'>13</option>
									<option value= '14'>14</option>
									<option value= '15'>15</option>
									<option value= '16'>16</option>
									<option value= '17'>17</option>
									<option value= '18'>18</option>
									<option value= '19'>19</option>
									<option value= '20'>20</option>
									<option value= '21'>21</option>
									<option value= '22'>22</option>
									<option value= '23'>23</option>
									<option value= '24'>24</option>
									<option value ='25'>25</option>
									<option value ='26'>26</option>
									<option value ='27'>27</option>
									<option value ='28'>28</option>
									<option value ='29'>29</option>
									<option value ='30'>30</option>
									<option value ='31'>31</option>
									<option value ='32'>32</option>
									<option value ='33'>33</option>
									<option value ='34'>34</option>
									<option value ='35'>35</option>
									<option value ='36'>36</option>
									<option value ='37'>37</option>
									<option value ='38'>38</option>
									<option value ='39'>39</option>
									<option value ='40'>40</option>
									<option value ='41'>41</option>
									<option value ='42'>42</option>
									<option value ='43'>43</option>
									<option value ='44'>44</option>
									<option value ='45'>45</option>
									<option value ='46'>46</option>
									<option value ='47'>47</option>
									<option value ='48'>48</option>
									<option value ='49'>49</option>
									<option value ='50'>50</option>
									<option value ='51'>51</option>
									<option value ='52'>52</option>
									<option value ='53'>53</option>
									<option value ='54'>54</option>
									<option value ='55'>55</option>
									<option value ='56'>56</option>
									<option value ='57'>57</option>
									<option value ='58'>58</option>
									<option value ='59'>59</option>
								</select>
								<br />
								Do:
								<select id="sbox_add_time_to_h" disabled="disabled">
									<option value= '00'>0</option>
									<option value= '01'>1</option>
									<option value= '02'>2</option>
									<option value= '03'>3</option>
									<option value= '04'>4</option>
									<option value= '05'>5</option>
									<option value= '06'>6</option>
									<option value= '07'>7</option>
									<option value= '08'>8</option>
									<option value= '09'>9</option>
									<option value= '10'>10</option>
									<option value= '11'>11</option>
									<option value= '12'>12</option>
									<option value= '13'>13</option>
									<option value= '14'>14</option>
									<option value= '15'>15</option>
									<option value= '16'>16</option>
									<option value= '17'>17</option>
									<option value= '18'>18</option>
									<option value= '19'>19</option>
									<option value= '20'>20</option>
									<option value= '21'>21</option>
									<option value= '22'>22</option>
									<option value= '23'>23</option>
								</select>
								<select id="sbox_add_time_to_m" disabled="disabled">
									<option value= '00'>0</option>
									<option value= '01'>1</option>
									<option value= '02'>2</option>
									<option value= '03'>3</option>
									<option value= '04'>4</option>
									<option value= '05'>5</option>
									<option value= '06'>6</option>
									<option value= '07'>7</option>
									<option value= '08'>8</option>
									<option value= '09'>9</option>
									<option value= '10'>10</option>
									<option value= '11'>11</option>
									<option value= '12'>12</option>
									<option value= '13'>13</option>
									<option value= '14'>14</option>
									<option value= '15'>15</option>
									<option value= '16'>16</option>
									<option value= '17'>17</option>
									<option value= '18'>18</option>
									<option value= '19'>19</option>
									<option value= '20'>20</option>
									<option value= '21'>21</option>
									<option value= '22'>22</option>
									<option value= '23'>23</option>
									<option value= '24'>24</option>
									<option value ='25'>25</option>
									<option value ='26'>26</option>
									<option value ='27'>27</option>
									<option value ='28'>28</option>
									<option value ='29'>29</option>
									<option value ='30'>30</option>
									<option value ='31'>31</option>
									<option value ='32'>32</option>
									<option value ='33'>33</option>
									<option value ='34'>34</option>
									<option value ='35'>35</option>
									<option value ='36'>36</option>
									<option value ='37'>37</option>
									<option value ='38'>38</option>
									<option value ='39'>39</option>
									<option value ='40'>40</option>
									<option value ='41'>41</option>
									<option value ='42'>42</option>
									<option value ='43'>43</option>
									<option value ='44'>44</option>
									<option value ='45'>45</option>
									<option value ='46'>46</option>
									<option value ='47'>47</option>
									<option value ='48'>48</option>
									<option value ='49'>49</option>
									<option value ='50'>50</option>
									<option value ='51'>51</option>
									<option value ='52'>52</option>
									<option value ='53'>53</option>
									<option value ='54'>54</option>
									<option value ='55'>55</option>
									<option value ='56'>56</option>
									<option value ='57'>57</option>
									<option value ='58'>58</option>
									<option value ='59'>59</option>
								</select>
							
								Rodzaj:
								<select id="sbox_add_type" onchange="checkType();">
									<option value = "7">prywatno-pub</option>
									<option value = "6">prywatne</option>
									<option value = "5">rocznikowe</option>
									<option value = "4">grupa</option>
									<option value = "3">kierunek</option>
									<option value = "2">wydział</option>
									<option value = "1">uczelnia</option>
								</select>
								
								<div id = "studentsClasses" style="display: none;">
									<select id="sbox_add_class">
									{% for g in grupy %}
										<option value = "{{g.id}}">{{g.kurs.nazwa}}, {{g.kurs.rodzaj}}</option>
									{% endfor %}
									</select>
								</div>
								
								<input type="checkbox" name="cbox_add" id="cbox_add" checked/>
								<p><input class="calendar-submit" type="button" name="btn_add_event" id="btn_add_event" value="Dodaj" onclick="addEvent();" /></p>
							</div>
							</li></ul>
							</li>
							
						</ul>

						
						
						<!-- 
						<p>Szczegóły wydarzenia:</p>
                        <div id="calendar-event-details" style="display: none">
							<b><span id ="sp_event_name"></span></b><br />
							<span id ="sp_event_descr"></span> &nbsp <img src="media/html/img/edit.png" alt="Zmień nazwę" width="12" height="12" onClick = "showEditDescr();" /> <br />
							<span id = "edit_event" style="display: none"><input id = "fld_change_descr" class="calendar-input-smaller" type="text" value="" /> <img src="static/img/.png" alt="zapisz" width="12" height="12" onClick = "editDescr();" /></span>
							<span id = "sp_hours"></span><br />
							Rodzaj:<span id = "sp_type"></span>
						</div>
						
						<div id="calendar-add-event">
							<p>Dodawanie nowego wydarzenia:</p>
							<table class="table-calendar">
								<tr>
									<td class="table-left-side-calendar">Nazwa:</td>
									<td class="table-right-side"><input class="calendar-input" type="text" name="fld_add_name" id="fld_add_name" value="" /></td>
								</tr>
								<tr>
									<td class="table-left-side-calendar">Opis:</td>
									<td class="table-right-side"><input class="calendar-input" type="text" name="fld_add_description" id="fld_add_description" value="" /></td>
								</tr>
							</table>
							<input type="radio" name="radio_add_day_event" id = "all_day" value="all_day" onclick="showHours();" checked/>Wydarzenie całodniowe
							<br />
							<input type="radio" name="radio_add_day_event" id = "specific_time" value="specific_time" onclick="showHours();" />Wydarzenie kilkugodzinne
							<br />
							Od:
							<select id="sbox_add_time_from_h" disabled="disabled">
								<option value= '00'>0</option>
                                <option value= '01'>1</option>
								<option value= '02'>2</option>
                                <option value= '03'>3</option>
                                <option value= '04'>4</option>
                                <option value= '05'>5</option>
                                <option value= '06'>6</option>
                                <option value= '07'>7</option>
                                <option value= '08'>8</option>
                                <option value= '09'>9</option>
                                <option value= '10'>10</option>
                                <option value= '11'>11</option>
                                <option value= '12'>12</option>
                                <option value= '13'>13</option>
                                <option value= '14'>14</option>
                                <option value= '15'>15</option>
                                <option value= '16'>16</option>
                                <option value= '17'>17</option>
                                <option value= '18'>18</option>
                                <option value= '19'>19</option>
                                <option value= '20'>20</option>
                                <option value= '21'>21</option>
                                <option value= '22'>22</option>
                                <option value= '23'>23</option>
                                
                            </select>
							<select id="sbox_add_time_from_m" disabled="disabled">
                                <option value= '00'>0</option>
                                <option value= '01'>1</option>
								<option value= '02'>2</option>
                                <option value= '03'>3</option>
                                <option value= '04'>4</option>
                                <option value= '05'>5</option>
                                <option value= '06'>6</option>
                                <option value= '07'>7</option>
                                <option value= '08'>8</option>
                                <option value= '09'>9</option>
                                <option value= '10'>10</option>
                                <option value= '11'>11</option>
                                <option value= '12'>12</option>
                                <option value= '13'>13</option>
                                <option value= '14'>14</option>
                                <option value= '15'>15</option>
                                <option value= '16'>16</option>
                                <option value= '17'>17</option>
                                <option value= '18'>18</option>
                                <option value= '19'>19</option>
                                <option value= '20'>20</option>
                                <option value= '21'>21</option>
                                <option value= '22'>22</option>
                                <option value= '23'>23</option>
                                <option value= '24'>24</option>
								<option value ='25'>25</option>
                                <option value ='26'>26</option>
                                <option value ='27'>27</option>
                                <option value ='28'>28</option>
                                <option value ='29'>29</option>
                                <option value ='30'>30</option>
                                <option value ='31'>31</option>
                                <option value ='32'>32</option>
                                <option value ='33'>33</option>
                                <option value ='34'>34</option>
                                <option value ='35'>35</option>
                                <option value ='36'>36</option>
                                <option value ='37'>37</option>
                                <option value ='38'>38</option>
                                <option value ='39'>39</option>
                                <option value ='40'>40</option>
                                <option value ='41'>41</option>
                                <option value ='42'>42</option>
                                <option value ='43'>43</option>
                                <option value ='44'>44</option>
                                <option value ='45'>45</option>
                                <option value ='46'>46</option>
                                <option value ='47'>47</option>
                                <option value ='48'>48</option>
                                <option value ='49'>49</option>
                                <option value ='50'>50</option>
                                <option value ='51'>51</option>
                                <option value ='52'>52</option>
                                <option value ='53'>53</option>
                                <option value ='54'>54</option>
                                <option value ='55'>55</option>
                                <option value ='56'>56</option>
                                <option value ='57'>57</option>
                                <option value ='58'>58</option>
                                <option value ='59'>59</option>
							</select>
							<br />
							Do:
							<select id="sbox_add_time_to_h" disabled="disabled">
								<option value= '00'>0</option>
                                <option value= '01'>1</option>
								<option value= '02'>2</option>
                                <option value= '03'>3</option>
                                <option value= '04'>4</option>
                                <option value= '05'>5</option>
                                <option value= '06'>6</option>
                                <option value= '07'>7</option>
                                <option value= '08'>8</option>
                                <option value= '09'>9</option>
                                <option value= '10'>10</option>
                                <option value= '11'>11</option>
                                <option value= '12'>12</option>
                                <option value= '13'>13</option>
                                <option value= '14'>14</option>
                                <option value= '15'>15</option>
                                <option value= '16'>16</option>
                                <option value= '17'>17</option>
                                <option value= '18'>18</option>
                                <option value= '19'>19</option>
                                <option value= '20'>20</option>
                                <option value= '21'>21</option>
                                <option value= '22'>22</option>
                                <option value= '23'>23</option>
							</select>
							<select id="sbox_add_time_to_m" disabled="disabled">
                                <option value= '00'>0</option>
                                <option value= '01'>1</option>
								<option value= '02'>2</option>
                                <option value= '03'>3</option>
                                <option value= '04'>4</option>
                                <option value= '05'>5</option>
                                <option value= '06'>6</option>
                                <option value= '07'>7</option>
                                <option value= '08'>8</option>
                                <option value= '09'>9</option>
                                <option value= '10'>10</option>
                                <option value= '11'>11</option>
                                <option value= '12'>12</option>
                                <option value= '13'>13</option>
                                <option value= '14'>14</option>
                                <option value= '15'>15</option>
                                <option value= '16'>16</option>
                                <option value= '17'>17</option>
                                <option value= '18'>18</option>
                                <option value= '19'>19</option>
                                <option value= '20'>20</option>
                                <option value= '21'>21</option>
                                <option value= '22'>22</option>
                                <option value= '23'>23</option>
                                <option value= '24'>24</option>
								<option value ='25'>25</option>
                                <option value ='26'>26</option>
                                <option value ='27'>27</option>
                                <option value ='28'>28</option>
                                <option value ='29'>29</option>
                                <option value ='30'>30</option>
                                <option value ='31'>31</option>
                                <option value ='32'>32</option>
                                <option value ='33'>33</option>
                                <option value ='34'>34</option>
                                <option value ='35'>35</option>
                                <option value ='36'>36</option>
                                <option value ='37'>37</option>
                                <option value ='38'>38</option>
                                <option value ='39'>39</option>
                                <option value ='40'>40</option>
                                <option value ='41'>41</option>
                                <option value ='42'>42</option>
                                <option value ='43'>43</option>
                                <option value ='44'>44</option>
                                <option value ='45'>45</option>
                                <option value ='46'>46</option>
                                <option value ='47'>47</option>
                                <option value ='48'>48</option>
                                <option value ='49'>49</option>
                                <option value ='50'>50</option>
                                <option value ='51'>51</option>
                                <option value ='52'>52</option>
                                <option value ='53'>53</option>
                                <option value ='54'>54</option>
                                <option value ='55'>55</option>
                                <option value ='56'>56</option>
                                <option value ='57'>57</option>
                                <option value ='58'>58</option>
                                <option value ='59'>59</option>
							</select>
							</div>
							Rodzaj:
							<select id="sbox_add_type" onchange="checkType();">
								<option value = "7">prywatno-pub</option>
                                <option value = "6">prywatne</option>
                                <option value = "5">rocznikowe</option>
								<option value = "4">grupa</option>
								<option value = "3">kierunek</option>
								<option value = "2">wydział</option>
								<option value = "1">uczelnia</option>
							</select>
                            
                            <div id = "studentsClasses" style="display: none;">
                                <select id="sbox_add_class">
                                {% for g in grupy %}
                                    <option value = "{{g.id}}">{{g.kurs.nazwa}}, {{g.kurs.rodzaj}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            
                            <input type="checkbox" name="cbox_add" id="cbox_add" checked/>
							<p><input class="calendar-submit" type="button" name="btn_add_event" id="btn_add_event" value="Dodaj" onclick="addEvent();" /></p>
						</div>
						
						<div id="calendar-edit-event">
							<p>Edycja wydarzenia:</p>
							<table class="table-calendar">
								<tr>
									<td class="table-left-side-calendar">Nazwa:</td>
									<td class="table-right-side"><input class="calendar-input" type="text" name="fld_edit_name" id="fld_edit_name" value="" /></td>
								</tr>
								<tr>
									<td class="table-left-side-calendar">Opis:</td>
									<td class="table-right-side"><input class="calendar-input" type="text" name="fld_edit_description" id="fld_edit_description" value="" /></td>
								</tr>
							</table>
							<input type="radio" name="radio_edit_day_event" value="all_day" />Wydarzenie całodniowe
							<br />
							<input type="radio" name="radio_edit_day_event" value="specific_time" />Wydarzenie kilkugodzinne
							<br />
							Od:
							<select id="sbox_edit_time_from_h">
								<option>0</option>
								<option>1</option>
								<option>...</option>
								<option>22</option>
								<option>23</option>
							</select>
							<select id="sbox_edit_time_from_m">
								<option>00</option>
								<option>15</option>
								<option>30</option>
								<option>45</option>
							</select>
							<br />
							Do:
							<select id="sbox_edit_time_to_h">
								<option>0</option>
								<option>1</option>
								<option>...</option>
								<option>22</option>
								<option>23</option>
							</select>
							<select id="sbox_edit_time_to_m">
								<option>00</option>
								<option>15</option>
								<option>30</option>
								<option>45</option>
							</select>
							<br />
							Rodzaj:
							<select id="sbox_edit_type">
								<option>prywatne</option>
								<option>grupa</option>
								<option>kierunek</option>
								<option>wydział</option>
								<option>uczelnia</option>
							</select>
							<p><input class="calendar-submit" type="submit" name="btn_edit_event" id="btn_edit_event" value="Zmień" /></p>
						</div>
						
						lista wszystkich wydarzeń z jakiegoś czasu... nie wiem jeszcze jak to zrobić
						<div id="calendar-all-events">
							<div class="calendar-event">
								1. data, czas, tytuł, kto dodał, opis w dymku?
							</div>
							<div class="calendar-event">
								2. data, czas, tytuł, kto dodał, opis w dymku?
							</div>
						
						
					</div>
				</div>
				<div id="right-box-calendar">
					<div id="calendar-content">

						<p><b>Wybór kalendarza:</b></p>
						<div id="calendar-view-type">
							<select class="calendar-view">
								<option>Semestralny</option>
								<option>Miesięczny</option>
								<option>Tygodniowy</option>
							</select>
						</div>
						<br />
						<div id="calendar-view-sem">
							<select class="calendar-view">
								<option>Zimowy</option>
								<option>Letni</option>
							</select>
						</div>
						<br />
						<div id="calendar-view-monthly">
							<select class="calendar-view">
								<option>Październik</option>
								<option>Listopad</option>
								<option>itd.</option>
							</select>
						</div>
						<br />
						<div id="calendar-view-weekly">
							<select class="calendar-view">
								<option>I: 01.10-07.10</option>
								<option>II: 08.10-14.10</option>
								<option>itd.</option>
							</select>
						</div>
						<br /> -->
						
						<!-- to póki co zostaw
						<a href="#" class="calendar-edit"><img src="static/img/.png" alt="" title="Edytuj wydarzenie" width="10" height="10" /></a>
						<a href="#" class="calendar-delete"><img src="static/img/.png" alt="" title="Usuń wydarzenie" width="10" height="10" /></a> -->
						
					</div>
				</div>
