
<script type='text/javascript'>

var isDescription = false;
var activeEvent;
var activeEventFromCal;
var kalendarz = {}
var shown = false;

var id, nazwa, opis, dataWyd, godzinaOd, godzinaDo, typ, grupa;

{% for k in kalendarz %}
id = '{{ k.wydarzenie.id }}';
nazwa = '{{ k.wydarzenie.nazwa }}';
opis = '{{ k.opis }}';
dataWyd = '{{ k.wydarzenie.dataWydarzenia|date:"d b Y" }}'
godzinaOd = '{{ k.wydarzenie.godzinaOd }}'.substring(0, 5);
godzinaDo = '{{ k.wydarzenie.godzinaDo }}'.substring(0, 5);
typ = '{{ k.wydarzenie.rodzajWydarzenia }}';
grupa = '{{ k.wydarzenie.grupa.id }}';
        
kalendarz[id] = [ [nazwa], [opis], [dataWyd], [godzinaOd], [godzinaDo], [typ], [grupa]];
{% endfor %}

{% for w in noweWydarzenia %}
id = '{{ w.id }}';
nazwa = '{{ w.nazwa }}';
opis = '{{ w.opis }}';
dataWyd = '{{ w.dataWydarzenia|date:"d b Y" }}'
godzinaOd = '{{ w.godzinaOd }}'.substring(0, 5);
godzinaDo = '{{ w.godzinaDo }}'.substring(0, 5);
typ = '{{ w.rodzajWydarzenia }}';
grupa = '{{ w.grupa.id }}';
        
kalendarz[id] = [ [nazwa], [opis], [dataWyd], [godzinaOd], [godzinaDo], [typ], [grupa]];
{% endfor %}



function showMyCal()
{
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar-content').fullCalendar({
        height: 500,
        editable: false,
        events: [                    
        {% for k in kalendarz %}
        {
            title: '{{ k.wydarzenie.nazwa }}',
            start: new Date({{ k.wydarzenie.dataWydarzenia|date:"Y" }}, {{ k.wydarzenie.dataWydarzenia|date:"m"}} -1, {{ k.wydarzenie.dataWydarzenia|date:"d"}}),
            id: '{{k.wydarzenie.id}}',
            className: 'my-event',
            color: 'green',
        },	
        {% endfor %}
        {% for w in noweWydarzenia %}
        {
            title: '{{ w.nazwa }}',
            start: new Date({{ w.dataWydarzenia|date:"Y" }}, {{ w.dataWydarzenia|date:"m"}} -1, {{ w.dataWydarzenia|date:"d"}}),
            id: '{{w.id}}',
            className: 'not-my-event',
            color: 'grey',
            },	
        {% endfor %}
        ],
        eventClick: function(event) 
        {         
            if(activeEvent == event.id &&  $( "#calendar-event-details" ).css('display') == 'block' &&  $( "#left-box-draggable"  ).css('display') == 'block')
            {
                hideDragBox();
            }
            else
            {
                document.getElementById("sp_event_name").innerHTML = kalendarz[event.id][0];
                document.getElementById("sp_event_descr").innerHTML = kalendarz[event.id][1];
                document.getElementById("fld_change_descr").value = kalendarz[event.id][1];
                var gOd = kalendarz[event.id][3];
                var gDo = kalendarz[event.id][4];
                 
                if(gOd != '00:00' || gDo != '00:00')
                {
                    var godziny = gOd + " - " + gDo; 
                    document.getElementById("sp_time").innerHTML = kalendarz[event.id][2] +", " + godziny;
                }
                else
                {
                    document.getElementById("sp_time").innerHTML = kalendarz[event.id][2];
                }
    
                isDescription = true;
                document.getElementById('qrCode').style.display = 'none';
                document.getElementById("edit_event").style.display = "none";
                
                if(event.className == 'not-my-event')
                    showDescrAddBox();
                else
                    showDescrRemBox();
                             
                activeEvent = event.id;
                activeEventFromCal = event;
            }

        },
        
        dayClick: function(date, allDay, jsEvent, view)
        {
            document.getElementById('datepicker').value = date.getFullYear() + "-" + addZero(date.getMonth() + 1) + "-" + addZero(date.getDate());
            showAddBox();
        }
    });
}
function showClearAddBox()
{
    document.getElementById('datepicker').value = "";
    showAddBox();
}

function showAddBox()
{
    $( "#calendar-event-details" ).css('display', 'none');
    $( "#calendar-add-event" ).css('display', 'block');
    $( "#left-box-draggable" ).fadeIn('slow');
}

function showDescrAddBox()
{
    $('#add_ev').html('<a href="#" onclick="addEventFromCal();"><b>Dodaj do kalendarza</b></a>')
    $( "#calendar-add-event" ).css('display', 'none');
    $( "#calendar-event-details" ).css('display', 'block');
    $( "#left-box-draggable" ).fadeIn('slow');
}

function showDescrRemBox()
{
    $('#add_ev').html('<a href="#" onclick="removeEvent();"><b>Usuń z kalendarza</b></a>')
    $( "#calendar-add-event" ).css('display', 'none');
    $( "#calendar-event-details" ).css('display', 'block');
    $( "#left-box-draggable" ).fadeIn('slow');
}

function hideDragBox()
{
    $( "#left-box-draggable" ).fadeOut('slow', function(){
        $( "#calendar-add-event" ).css('display', 'none');
        $( "#calendar-event-details" ).css('display', 'none');
    });

}

function addZero(num)
{
    if(num <10)
        return "0" + num;
    else
        return "" + num;
}

function showEditDescr()
{
	var edycja = document.getElementById("edit_event");
	if(edycja.style.display == "none")
	{
		document.getElementById('qrCode').style.display = 'none';
		edycja.style.display = "block";
	}
	else
	{
		edycja.style.display = "none";
	}
}
			
function editDescr(img)
{
	var descr = document.getElementById('fld_change_descr').value;
    dane = {};
    dane['evId'] = activeEvent;
    dane['description'] = descr;
    $.post("editEventDescription", dane, function(data)
	{
		if (data == 'Fail')
		{
			
		}
		else if(data == 'Ok')
		{
			//alert('Ok');
            kalendarz[activeEvent][1] = descr;
            document.getElementById("sp_event_descr").innerHTML = descr;
            
		}
        showEditDescr();
        
	});
    
}			
function showHours()
{
    if (document.getElementById('specific_time').checked)
    {
        document.getElementById('sbox_add_time_from_h').disabled = false;
        document.getElementById('sbox_add_time_from_m').disabled = false;
        document.getElementById('sbox_add_time_to_h').disabled = false;
        document.getElementById('sbox_add_time_to_m').disabled = false;         
    }
    else
    {
        document.getElementById('sbox_add_time_from_h').disabled = true;
        document.getElementById('sbox_add_time_from_m').disabled = true;
        document.getElementById('sbox_add_time_to_h').disabled = true;
        document.getElementById('sbox_add_time_to_m').disabled = true;    
    }
}

function checkType()
{
    if(selectedOption('sbox_add_type') == '6')
        $('#add_to_cal').css('display', 'none');
    else
         $('#add_to_cal').css('display', 'block');
    if(selectedOption('sbox_add_type') == "4")
    {
        document.getElementById("studentsClasses").style.display = "block";
    }
    else
    {
        document.getElementById("studentsClasses").style.display = "none";
    }
}

function addEventFromCal()
	{
		$.get("addEventToCalendar/" + activeEvent , function(data)
		{
			if (data =='Ok')
			{
				activeEventFromCal.className = 'my_ev';
                activeEventFromCal.color = 'green';
                $('#add_ev').html('<a href="#" onclick="removeEvent();"><b>Usuń z kalendarza</b></a>')
                //$('#calendar-content').fullCalendar('updateEvent', activeEventFromCal);
                $('#calendar-content').fullCalendar( 'render' )
		   }
		  }
		);
		  
	}

function removeEvent()
{
    $.get("removeEvent/" + activeEvent , function(data)
    {
        if (data =='Ok')
        {
            activeEventFromCal.className = 'not-my-event';
            activeEventFromCal.color = 'grey';
            $('#add_ev').html('<a href="#" onclick="removeEvent();"><b>Dodaj do kalendarza</b></a>')
            //$('#calendar-content').fullCalendar('updateEvent', activeEventFromCal);
             $('#calendar-content').fullCalendar( 'render' )
        }
    });  
}

function addEvent()
{
    var eventName = document.getElementById('fld_add_name').value;
    if(eventName == "")
    {
        alert('Musisz podać nazwę wydarzenia.');
        return;
    }
    var eventDescription = document.getElementById('fld_add_description').value;
    if(eventDescription == "")
    {
        alert('Musisz podać opis wydarzenia.');
        return;
    }
    var allDay = document.getElementById('all_day').checked;

    var classId = "0";
    
    var startH, startM, endH, endM;
    if(allDay)
    {
        startH = startM = endH = endM = '00';
    }
    else
    {
        startH = selectedOption('sbox_add_time_from_h');
        startM = selectedOption('sbox_add_time_from_m');
        endH = selectedOption('sbox_add_time_to_h');
        endM = selectedOption('sbox_add_time_to_m');
    }
    
    if(startH> endH)
	{
		alert('Data rozpoczęcia musi być wcześniejsza od daty zakończenia');
		return;
	}
	else if(startH == endH && startM>=endM)
	{
		alert('Data rozpoczęcia musi być wcześniejsza od daty zakończenia');
		return;
	}
    
    var eventType = selectedOption('sbox_add_type');
    if(eventType =="4")
    {
        classId = selectedOption('sbox_add_class');
    }
    
    var addToCalendar = document.getElementById('cbox_add').checked ? 'yes' : 'no';
    
    // Te zmiennne trzeba zczytać z kalendarza
   // var eventDay = selectedOption('sbox_select_day');
    //var eventMonth = selectedOption('sbox_select_month');
    //var eventYear = selectedOption('sbox_select_year');
    
   // var fullDate = eventYear + "-" + eventMonth + "-" + eventDay;
   var fullDate = document.getElementById('datepicker').value;
   //alert(fullDate);
    var tryDate = new Date(fullDate);
    if (!isValidDate(tryDate))
    {
        alert('Data jest niepoprawna!');
        return;
    }
    dane = {};
    dane['name'] = eventName;
    dane['description'] = eventDescription;
    dane['startH'] = startH;
    dane['startM'] = startM;
    dane['endH'] = endH;
    dane['endM'] = endM;
    dane['type'] = eventType;
    dane['class'] = classId;
    dane['day'] = fullDate.substring(8,10);
    dane['month'] = fullDate.substring(5,7);
    dane['year'] = fullDate.substring(0,4);
    dane['add'] = addToCalendar;

    sendEventData(dane);
    
}

function isValidDate(d) {
  if ( Object.prototype.toString.call(d) !== "[object Date]" )
    return false;
  return !isNaN(d.getTime());
}

function sendEventData(dane)
{
	$.post("addEvent", dane, function(data)
	{
		if (data == 'Fail')
		{
			alert('Wystąpił nieoczekiwany błąd, spróbuj ponownie później.');
		}
		else if(data == 'Ok')
		{
			loadContent('calendar');
		}
	});
}
		

function getQRCode()
{
	document.getElementById("edit_event").style.display = "none";
	$("#qrCode").load("qr/"+activeEvent, function(){ document.getElementById('qrCode').style.display = 'block'; });
}

function showOtherEvents()
{
    var ss = document.styleSheets;
    if (shown)
    {
        shown = false;

        floop:
        for (var i=0; i<ss.length; i++)
        {
            var rules = ss[i].cssRules || ss[i].rules;

            
            for (var j=0; j<rules.length; j++)
            {
                //alert(rules[j].selectorText);
                if (rules[j].selectorText === ".not-my-event")
                {
                    rules[j].style.display = "none";
                    break floop;
                }
            }
        }
        $('.not-my-event').css('display', 'none');
        $('#calendar-content').fullCalendar( 'render' )
        $('#showOtherEvents').html('Pokaż wydarzenia');
    }
    else
    {
        shown = true;
        floop2:
        for (var i=0; i<ss.length; i++)
        {
            var rules = ss[i].cssRules || ss[i].rules;

            
            for (var j=0; j<rules.length; j++)
            {
                //alert(rules[j].selectorText);
                if (rules[j].selectorText === ".not-my-event")
                {
                    rules[j].style.display = "block";
                    break floop2;
                }
            }
        }
        $('.not-my-event').css('display', 'block');
        $('#calendar-content').fullCalendar( 'render' );
        $('#showOtherEvents').html('Ukryj wydarzenia');
    }
}

function isCssShown()
{
    var ss = document.styleSheets;
    floop:
    for (var i=0; i<ss.length; i++)
    {
        var rules = ss[i].cssRules || ss[i].rules;
        
        for (var j=0; j<rules.length; j++)
        {
            //alert(rules[j].selectorText);
            if (rules[j].selectorText === ".not-my-event")
            {
                if (rules[j].style.display == "none")
                    $('#showOtherEvents').html('Pokaż wydarzenia');
                else
                {
                    $('#showOtherEvents').html('Ukryj wydarzenia');
                    shown = true;
                }
                break floop;
            }
        }
    }

}


isCssShown();
showMyCal();
$( "#left-box-draggable" ).draggable({ axis: "x", containment: "#main-content" });
$( "#datepicker" ).datepicker();


</script>

				<div id='calendar-content'>
				</div>
                <div class="calendar-add-event-button">
                    <span style='margin-left: -100px;'><a href="#" onclick="showOtherEvents();" id='showOtherEvents'>Pokaż wydarzenia</a></span>
                    <span><a href="#" onclick="showClearAddBox();" id='showDragDiv'>Dodaj wydarzenie</a></span>
                </div>
				
				<div id="left-box-draggable" style='display: none; text-align: left;'>
                    <div class="flying-close-button">
                        <a href="#" onclick="hideDragBox();">
                            <img src="img/del.png" alt="" width="15" height="15" />
                        </a>
                    </div>
                
                 <!--  EVENT DESCRIPTION  -->
                    <div id="calendar-event-details">
                        <b>Sczegóły wydarzenia</b> <br /><br />

                        <u><span id = "sp_time"></span></u><br />
                        <b><span id ="sp_event_name"></span></b> &nbsp <img src='media/html/img/qr.png' width="14" height="14" onclick='getQRCode();'/><br />
                        <span id ="sp_event_descr"></span> &nbsp <img src="media/html/img/edit.png" alt="Zmień nazwę" width="12" height="12" onClick = "showEditDescr();" /> <br />
                        <span id = "edit_event" style="display: none"><input id = "fld_change_descr" class="calendar-input-smaller" type="text" maxlength="250" value="" /> <img src="media/html/img/save.png" alt="zapisz" width="12" height="12" onClick = "editDescr();" /></span>
                        <div id='qrCode' style="display:none">
                        </div><br />
                        <div id = "add_ev">
                               <!--  add or remove event  -->   
                        </div>
                    </div>

                <!--  ADD EVENT  -->    
                    <div id="calendar-add-event">
                        <b>Dodaj nowe wydarzenie</b> <br /><br />
                        <table class="table-calendar">
                            <tr>
                                <td class="table-left-side-calendar">Nazwa:</td>
                                <td class="table-right-side"><input class="calendar-input" maxlength="50" type="text" name="fld_add_name" id="fld_add_name" value=""/></td>
                            </tr>
                            <tr>
                                <td class="table-left-side-calendar">Opis:</td>
                                <td class="table-right-side"><input class="calendar-input" maxlength="250" type="text" name="fld_add_description" id="fld_add_description" value=""></td>
                            </tr>
                            <tr>
                                <td class="table-left-side-calendar">Data:</td>
                                <td class="table-right-side"><input class="calendar-input" type="text" name="fld_add_description" id="datepicker" value=""></td>
                            </tr>
                        </table>

                        <input type="radio" name="radio_add_day_event" id = "all_day" value="all_day" onclick="showHours();" checked/>Wydarzenie całodniowe
                        <br />
                        <input type="radio" name="radio_add_day_event" id = "specific_time" value="specific_time" onclick="showHours();" />Wydarzenie kilkugodzinne
                        <br />
                        Od:
                        <select id="sbox_add_time_from_h" disabled="disabled">
                            <option value= '00'>0</option>
                            <option value= '01'>1</option>
                            <option value= '02'>2</option>
                            <option value= '03'>3</option>
                            <option value= '04'>4</option>
                            <option value= '05'>5</option>
                            <option value= '06'>6</option>
                            <option value= '07'>7</option>
                            <option value= '08'>8</option>
                            <option value= '09'>9</option>
                            <option value= '10'>10</option>
                            <option value= '11'>11</option>
                            <option value= '12'>12</option>
                            <option value= '13'>13</option>
                            <option value= '14'>14</option>
                            <option value= '15'>15</option>
                            <option value= '16'>16</option>
                            <option value= '17'>17</option>
                            <option value= '18'>18</option>
                            <option value= '19'>19</option>
                            <option value= '20'>20</option>
                            <option value= '21'>21</option>
                            <option value= '22'>22</option>
                            <option value= '23'>23</option> 
                        </select>
                        <select id="sbox_add_time_from_m" disabled="disabled">
                            <option value= '00'>0</option>
                            <option value= '05'>5</option>
                            <option value= '10'>10</option>
                            <option value= '15'>15</option>
                            <option value= '20'>20</option>
                            <option value ='25'>25</option>
                            <option value ='30'>30</option>
                            <option value ='35'>35</option>
                            <option value ='40'>40</option>
                            <option value ='45'>45</option>
                            <option value ='50'>50</option>
                            <option value ='55'>55</option>
                        </select>
                        <br />
                        Do:
                        <select id="sbox_add_time_to_h" disabled="disabled">
                            <option value= '00'>0</option>
                            <option value= '01'>1</option>
                            <option value= '02'>2</option>
                            <option value= '03'>3</option>
                            <option value= '04'>4</option>
                            <option value= '05'>5</option>
                            <option value= '06'>6</option>
                            <option value= '07'>7</option>
                            <option value= '08'>8</option>
                            <option value= '09'>9</option>
                            <option value= '10'>10</option>
                            <option value= '11'>11</option>
                            <option value= '12'>12</option>
                            <option value= '13'>13</option>
                            <option value= '14'>14</option>
                            <option value= '15'>15</option>
                            <option value= '16'>16</option>
                            <option value= '17'>17</option>
                            <option value= '18'>18</option>
                            <option value= '19'>19</option>
                            <option value= '20'>20</option>
                            <option value= '21'>21</option>
                            <option value= '22'>22</option>
                            <option value= '23'>23</option>
                        </select>
                        <select id="sbox_add_time_to_m" disabled="disabled">
                            <option value= '00'>0</option>
                            <option value= '05'>5</option>
                            <option value= '10'>10</option>
                            <option value= '15'>15</option>
                            <option value= '20'>20</option>
                            <option value ='25'>25</option>
                            <option value ='30'>30</option>
                            <option value ='35'>35</option>
                            <option value ='40'>40</option>
                            <option value ='45'>45</option>
                            <option value ='50'>50</option>
                            <option value ='55'>55</option>
                        </select>
                        <br />
                        Współdziel z:
                        <select id="sbox_add_type" onchange="checkType();">
                            <option value = "5" selected>rocznikiem</option>
                            <option value = "4">grupą</option>
                            <option value = "3">kierunekiem</option>
                            <option value = "2">wydziałem</option>
                            <option value = "1">uczelnią</option>
                            <option value = "6">nie współdziel</option>
                        </select>
                        
                        <div id = "studentsClasses" style="display: none;">
                            <select id="sbox_add_class">
                            {% for g in grupy %}
                                <option value = "{{g.id}}">{{g.kurs.nazwa}} ({{g.kurs.rodzaj}}), {{g.dzienTygodnia}} {{g.godzinaOd|time:"H:i"}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        
                        <br />
                        <div id='add_to_cal'><input type="checkbox" name="cbox_add" id="cbox_add" checked/> Dodaj do kalendarza <br /></div>
                        <p><input class="calendar-submit" type="button" name="btn_add_event" id="btn_add_event" value="Dodaj" onclick="addEvent();" /></p>
                    </div>


						
                    
                </div>
       
