<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<script type="text/javascript" src="media/js/ajax.js"></script>
		<script type="text/javascript" src="media/js/jQuery.js"></script>
		<script type="text/javascript" src="media/js/myJS.js"></script>
		<title>PWrTracker.pl</title>
		<script type="text/javascript">
			window.onload = initPage;
			window.onbeforeunload = wyloguj;
			nickOk = false;
			indexOk = false;
				
			function initPage() {
				loadContent('{{ strona }}');
				
				
				isJavaScripted();
			}
			function wyloguj( ){
				location.href = 'logOut'; 
			}
			function isJavaScripted() {
				document.getElementById("no-js").style.display='none';
			}
		
		</script>
	</head>
	<body>
		<div id="no-js">
			Do prawidłowej pracy serwisu wymagany jest włączony JavaScript.
		</div>
		<div id="header">
			<div id="header-logo">
				<div style="color: #000000; font-weight: bold; display: inline; font-family: monospace; font-size: 40px; line-height: 50px;">PWr</div><div style="color: #ffffff; font-weight: bold; display: inline; font-family: monospace; font-size: 40px;line-height: 50px;">Tracker</div>
			</div>
			{% if logowanie %}
			<div id="header-login-form">
				<form method="post" action="/logIn" id ="form_login">
					<table class="header-login-table">
						<tr>
							<td><input class="header-login-input" type="text" name="fld_login" id="fld_login" value="Login" onclick="clearField(this.id)" /></td>
							<td><input class="header-login-input" type="password" name="fld_pass" id="fld_pass" value="Hasło" onclick="clearField(this.id)"/></td>
							<td style="width: 40px;"><input class="header-login-submit" type="submit" name="btn_logIn" id="btn_logIn" value=">" /></td>
						</tr>
						<tr>
							<td><div class="header-login-text"><input type="checkbox" name="cbox_remember" id="cbox_remember" />Zapamiętaj</div></td>
							<td><div class="header-login-text"><a href="lostpassword.html">Przypomnij hasło</a></div></td>
							<td></td>
						</tr>
					</table>
				</form>
			</div>
			{% else %}
			<div id="header-logged-in-menu">
				<div id="header-account">
					<a id="account" onclick="loadContent(this.id)">{{ nick }}</a>
				</div>
				<div id="header-logout">
					<a href="logOut">{{ wyloguj }}</a>
				</div>
			</div>
			{% endif %}
			{% if blad %}
			<div style="display: block; float: right; width: 300px; margin-top: 70px; margin-right: -245px; background-color: #3777b3; color: #ffffff">
			{{ tekstBledu }}
			{% if zmianaHasla %}
			<div id="tutajBedzieZmianaHasla">
				<form method="post" action="changePassword">
					Nowe hasło:<input type="password" name="fld_passNew" id="fld_passNew"/> </br>
					Powtórz hasło:<input type="password" name="fld_passNewRepeat" id="fld_passNewRepeat"/> </br>
					<input type="submit" name="btn_changePass" id="btn_changePass" value=">" />
				</form>
			</div>
			{% endif %}
			</div>
			{% endif %}
			<div id="header-menu">
				<a id="portal" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/portal.png" alt="" width="50" height="50" /><br />Portal</a><!-- 
				 --><a id="timetable" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/timetable.png" alt="" width="50" height="50" /><br />Plan zajęć</a><!-- 
				 --><a id="calendar" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/calendar.png" alt="" width="50" height="50" /><br />Kalendarz</a><!-- 
				 --><a id="teachers" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/teachers.png" alt="" width="50" height="50" /><br />Wykładowcy</a><!-- 
				 --><a id="map" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/map.png" alt="" width="50" height="50" /><br />Plan&nbsp;uczelni</a>
			</div>
		</div>
		<div id="main">
			<div id="main-skipper"></div>
			<div id="main-content">
				<!-- ==================== -->				
				{{ alert }}
				<!-- ==================== -->
			</div>
		</div>
		<div id="footer">
			<a href="mobile.html">PWrTracker Mobile</a> | <a href="help.html">Pomoc</a> | <a href="rules.html">Regulamin</a> | <a href="privacy.html">Polityka prywatności</a> | <a href="contact.html">Kontakt</a>
			<br />&#169; 2012 <a href="team.html">PWrTracker Team</a>
		</div>
	</body>
</html>