<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcun icon" href="img/icon.ico" />
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<script type="text/javascript" src="media/js/ajax.js"></script>
		<script type="text/javascript" src="media/js/jQuery.js"></script>
		<script type="text/javascript" src="media/js/jquery.nicescroll.min.js"></script>
		<script type="text/javascript" src="media/js/jquery-ui-1.9.1.custom.js"></script>
		<script type="text/javascript" src="media/js/myJS.js"></script>
		<script type="text/javascript" src="media/js/myValidate.js"></script>

		
		<title>PWrTracker.pl</title>
		<script type="text/javascript">
				window.onload = initPage;
				window.onbeforeunload = wyloguj;
				nickOk = false;
				indexOk = false;
					
				function initPage() {
					loadContent('{{ strona }}');
					
					
					isJavaScripted();
				}
				function wyloguj( ){
					location.href = 'logOut'; 
				}
				function isJavaScripted() {
					document.getElementById("no-js").style.display='none';
				}
				
				function lostPassword(){
						$('#forLoader').append('<div id="load" style="display: inline;"><img src="img/ajax-loader.gif"></div>');
						$.post('/lostPassword', { fld_login: $('#fld_login').val()},
								function(msg) {
										$('#load').remove();
										if (msg=="ok"){
												alert("Na twoją skrzynkę pocztową wysłaliśmy maila z instrukcją dotyczącą zmiany hasła.");
												$('#blad').fadeOut("slow");
										}
										if (msg=="Nie ma takiego uzytkownika"){
												alert("Wprowadź użytkownika poprawnie.");
										}
										if (msg=="Dane nie zostały wysłane."){
												alert("Dane nie zostały wysłane do serwera.")
										}
								});
				}
				function changePass(){
						var reg = /^(?!.*(.)\1{3})((?=.*[\d])(?=.*[A-Za-z])|(?=.*[^\w\d\s])(?=.*[A-Za-z])).{8,20}$/;
						if($('#fld_passNew').val() != $('#fld_passNewRepeat').val()){
								alert('Wprowadziłeś źle drugie hasło!');
						} else if (reg.test($('#fld_passNew').val()) == false){
								alert("Hasło musi spełniać następujące warunki\n-nie może mieć ponad trzy takie same znaki pod rząd\n-musi zawierać numery i znaki specjalne\n-musi zawierać duże znaki\n-musi zawierać małe znaki\n-musi mieć od 8 do 20 znaków");
						} else {
								$.post('/changePassword', { fld_passNew: $('#fld_passNew').val(), fld_passNewRepeat: $('#fld_passNewRepeat').val() },
										function(msg) {
											if(msg == 'Haslo nieprawidlowe'){
												alert("Podane hasło jest nieprawidłowe.");
											}
											if (msg == 'Nie ma takiego uzytkownika'){
												alert("Nie ma takiego użytkownika w systemie.");
											}
											if (msg == 'Haslo nie może być takie same jak poprzednie'){
												alert("Hasło jest takie same jak poprzednie!");
											}
											if (msg == 'ok'){
												alert('Zmiana zostały zapisane. Możesz teraz zalogować się używając nowego hasła.');
												$('#blad').fadeOut("slow");
												//loadContent("index");
											}
								});
						}
				}
				/*
			$(document).ready(
				function() {
					$("html").niceScroll({touchbehavior: true, grabcursorenabled: false});

				}
			);
			*/
			function portalScroll()
			{
				$("#portal-shoutbox-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
				$("#portal-important-msgs-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
				$("#portal-my-events-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
				$("#portal-new-events-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
			}
			
			function timetableScroll()
			{
				$("#timetable-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
			}
			
			function teachersScroll()
			{
				$("#teachers-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
			}
			
			function calendarScroll()
			{
				$("#calendar-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
			}
			
			function mapScroll()
			{
				$("#map-scroll").niceScroll({touchbehavior: true, grabcursorenabled: false});
			}

		
		</script>
	</head>
	<body>
		<div id="overDiv" style="position:absolute; text-align: left; line-height: 1.2; visibility:hidden; z-index:1000;"></div>
			<script type="text/javascript" src="media/js/overlib/overlib.js"></script>
		<div id="no-js">
			Do prawidłowej pracy serwisu wymagany jest włączony JavaScript.
		</div>
		<div id="header">
			<div id="header-logo">
				<div style="color: #000000; font-weight: bold; display: inline; font-family: monospace; font-size: 40px; line-height: 50px;">PWr</div><div style="color: #ffffff; font-weight: bold; display: inline; font-family: monospace; font-size: 40px;line-height: 50px;">Tracker</div>
			</div>
			{% if logowanie %}
			<div id="header-login-form">
				<form method="post" action="/logIn" id ="form_login">
					<table class="header-login-table">
						<tr>
							<td><input class="header-login-input" type="text" name="fld_login" id="fld_login" value="{% if jestLogin %}{{ login }}{% else %}Login{% endif %}" onclick="clearField(this.id)" /></td>
							<td><input class="header-login-input" type="password" name="fld_pass" id="fld_pass" value="{% if jestLogin %}{% else %}haslo{% endif %}" onclick="clearField(this.id)"/></td>
							<td style="width: 40px;"><input class="header-login-submit" type="submit" name="btn_logIn" id="btn_logIn" value=">" /></td>
						</tr>
						<tr>
							<td><div class="header-login-text"><input type="checkbox" name="cbox_remember" id="cbox_remember" checked/>Zapamiętaj</div></td>
							<td><div class="header-login-text"><a style="cursor: pointer" onclick="lostPassword()" id="repeatPass">Przypomnij hasło</a></div></td>
							<td style="width: 40px; margin-top: 3px; " id="forLoader"></img></div></td>
						</tr>
					</table>
				</form>
			</div>
			{% else %}
			<div id="header-logged-in-menu">
				<div id="header-account">
						<a id="account" onclick="loadContent(this.id)" style="color:white;">{{ nick }}</a>
				</div>
				<div id="header-logout">
					<a href="logOut">{{ wyloguj }}</a>
				</div>
			</div>
			{% endif %}
			<div id="blad">
				{% if blad %}
						<div style="display: block; float: right; width: 300px; margin-top: 70px; margin-right: -245px; background-color: #3777b3; color: #ffffff">
								{{ tekstBledu }}
								{% if zmianaHasla %}
										<div id="tutajBedzieZmianaHasla">
												<table class="table-password">
														<tr>
														<td class="table-left-side">Nowe hasło:</td>
														<td class="table-right-side"><input class="portal-new-password-input" type="password" name="fld_passNew" id="fld_passNew"/></td>
														</tr>
														<tr>
														<td class="table-left-side">Powtórz hasło:</td>
														<td class="table-right-side"><input class="portal-new-password-input" type="password" name="fld_passNewRepeat" id="fld_passNewRepeat"/></td>
														</tr>
														</table>
														<div class="portal-new-password-center">
														<input class="portal-new-password-submit" onclick="changePass()" type="submit" name="btn_changePass" id="btn_changePass" value="Zapisz" />
														</div>
											<!--
												Nowe hasło:<input type="password" name="fld_passNew" id="fld_passNew"/> </br>
												Powtórz hasło:<input type="password" name="fld_passNewRepeat" id="fld_passNewRepeat"/> </br>
												<input type="submit" name="btn_changePass" id="btn_changePass" value=">" onclick="changePass()" />
							-->
										</div>
								{% endif %}
						</div>
				{% endif %}
			</div>
			
			<!-- wersja Bartka:
			{% if blad %}
			<div id="header-login-error">
			{{ tekstBledu }}
			{% if zmianaHasla %}
				<form method="post" action="changePassword">
					<table class="table-password">
						<tr>
							<td class="table-left-side">Nowe hasło:</td>
							<td class="table-right-side"><input class="portal-new-password-input" type="password" name="fld_passNew" id="fld_passNew"/></td>
						</tr>
						<tr>
							<td class="table-left-side">Powtórz hasło:</td>
							<td class="table-right-side"><input class="portal-new-password-input" type="password" name="fld_passNewRepeat" id="fld_passNewRepeat"/></td>
						</tr>
					</table>
					<div class="portal-new-password-center">
						<input class="portal-new-password-submit" type="submit" name="btn_changePass" id="btn_changePass" value="Zapisz" />
					</div>
				</form>
			{% endif %}
			</div>
			{% endif %}
			
			-->
			<div id="header-menu">
				<a id="portal" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/portal.png" alt="" width="50" height="50" /><br />Portal</a><!-- 
				 --><a id="timetable2" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/timetable.png" alt="" width="50" height="50" /><br />Plan zajęć</a><!-- 
				 --><a id="calendar" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/calendar.png" alt="" width="50" height="50" /><br />Kalendarz</a><!-- 
				 --><a id="teachers" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/teachers.png" alt="" width="50" height="50" /><br />Wykładowcy</a><!-- 
				 --><a id="map" class="header-menu-box" onclick="loadContent(this.id)"><img src="img/map.png" alt="" width="50" height="50" /><br />Plan&nbsp;uczelni</a>
			</div>
		</div>
		<div id="main">
			<div id="main-skipper"></div>
			<div id="main-content">
				<!-- ==================== -->				
				{{ alert }}
				<!-- ==================== -->
			</div>
		</div>
		<div id="footer">
			<a href="mobile.html">PWrTracker Mobile</a> | <a href="help.html">Pomoc</a> | <a href="rules.html">Regulamin</a> | <a href="privacy.html">Polityka prywatności</a> | <a href="contact.html">Kontakt</a>
			<br />&#169; 2012 <a href="team.html">PWrTracker Team</a>
		</div>
	</body>
</html>