<script type="text/javascript">			
			
	//document.getElementById("fld_sbox_text").focus();
	//$("#portal-shoutbox-scroll").load("media/html/shoutbox.html", scrollDown);
	//setTimeout(refresh, 5000);
	var objDiv = document.getElementById("portal-shoutbox-scroll");
	function shout(){
		var message = document.getElementById("fld_sbox_text").value;
		message = encodeURIComponent(message);
		document.getElementById("fld_sbox_text").value = "";
		document.getElementById("fld_sbox_text").focus();
		$("#portal-shoutbox-scroll").load("shout/" + message);
		return false;
	}

	function refresh(){
		$("#portal-shoutbox-scroll").load("media/html/shoutbox.html", scrollDown);
		setTimeout(refresh, 5000);
	}
	
	function scrollDown(){
		objDiv.scrollTop = objDiv.scrollHeight;
	}
	scrollDown();
	document.getElementById("fld_sbox_text").focus();
	setTimeout(refresh, 5000);

		  
</script>
					
					
					<div id="portal-shoutbox">
					<div class="box-title">Shoutbox</div>
					<div id="portal-shoutbox-scroll">


						{% for r in rozmowy reversed %}
						<div class="portal-text">
							<div class="box-img-add-on"></div>
							<div class="box-date">
								{% if r.data|date:"SHORT_DATE_FORMAT" ==  dzisiaj|date:"SHORT_DATE_FORMAT" %}
									Dzisiaj
								{% else %}
								{% if r.data|date:"SHORT_DATE_FORMAT" ==  wczoraj|date:"SHORT_DATE_FORMAT" %}
									Wczoraj
								{% else %}
									{{ r.data|date:"SHORT_DATE_FORMAT" }}
								{% endif %}
								{% endif %}
								
								{{ r.data|date:"G:i:s"  }}</div>
							<div class="box-text"><b>{{r.student.uzytkownik.nick}} : </b>{{r.tresc}}</div>
						</div>
						{% endfor %}
						
					

					</div>
					

						<div id="portal-write-text">
							<input class="CLASS" type="text" name="fld_sbox_text" id="fld_sbox_text" onkeydown="if (event.keyCode == 13) shout()" value="" style="width: 870px;" /><!-- jak się dorobi do tego klasę to wywalić WIDTH -->
							<input class="CLASS" type="submit" name="btn_sbox_send" id="btn_sbox_send" onclick="shout()" value="Wyślij" />
						</div>

				</div>
				<div id="portal-important-msgs">
					<div class="box-title">Ważne wiadomości</div>
					<div id="portal-important-msgs-scroll">
						<div class="portal-text">
							<div class="box-img-del"><a href="#"><img src="media/html/img/blank.png" alt="" title="Usuń tę wiadomość z listy ważnych wiadomości" width="28" height="28" /></a></div>
							<div class="box-date">24-10-2012 18:54:42</div>
							<div class="box-text"><b>Stefan: </b>Daty od 2 dni wstecz normalnie</div>
						</div>
						<div class="portal-text">
							<div class="box-img-del"><a href="#"><img src="media/html/img/blank.png" alt="" title="Usuń tę wiadomość z listy ważnych wiadomości" width="28" height="28" /></a></div>
							<div class="box-date">Wczoraj 07:06:01</div>
							<div class="box-text"><b>Stefan: </b>A aktualna 'Dzisiaj' i dzień wcześniej 'Wczoraj'</div>
						</div>
						<div class="portal-text">
							<div class="box-img-del"><a href="#"><img src="media/html/img/blank.png" alt="" title="Usuń tę wiadomość z listy ważnych wiadomości" width="28" height="28" /></a></div>
							<div class="box-date">Wczoraj 11:34:48</div>
							<div class="box-text"><b>Stefan: </b>Niech cała ta część wyświetla się tylko, gdy będzie tu cokolwiek!</div>
						</div>
						<div class="portal-text">
							<div class="box-img-del"><a href="#"><img src="media/html/img/blank.png" alt="" title="Usuń tę wiadomość z listy ważnych wiadomości" width="28" height="28" /></a></div>
							<div class="box-date">Wczoraj 11:34:48</div>
							<div class="box-text"><b>Stefan: </b>Zrobimy też tak, że można usunąć własne ustawione na 'ważna wiadomość', a inna sprawa to jak długo je tu trzymać?</div>
						</div>
						<div class="portal-text">
							<div class="box-img-del-off"></div>
							<div class="box-date">Dzisiaj 19:14:48</div>
							<div class="box-text"><b>Stefan: </b>Żeby to zrobić standardowo nie może być w ogóle linku i obrazka w htmlu w box-img-del i sama klasa musi się nazywać box-img-del-off</div>
						</div>
					</div>
				</div>
				<div id="portal-my-events">
					<div class="box-title">Moje wydarzenia</div>
					<div id="portal-my-events-scroll">
					
					{% for w in mojeWydarzenia %}
						<div class="portal-event-text">
							<div class="box-event-date">{{ w.dataWydarzenia|date:"SHORT_DATE_FORMAT" }} {{ w.godzinaOd|time:"H:i"  }} - {{ w.godzinaDo|time:"H:i"  }}</div>
							<div class="box-event-text"><a href="#" title=""><b>{{ w.nazwa }}</b></a></div>
							<div class="box-event-where">miejsce???</div>
						</div>
					{% endfor %}
					</div>
				</div>
				<div id="portal-new-events">
					<div class="box-title">Nowe wydarzenia</div>
					<div id="portal-new-events-scroll">
					{% for w in wydarzenia %}
						<div class="portal-event-text"><!-- TU JEST 20 ZAMIAST 28 !!!!!!!!!!!!!!!!!!!!!1 -->
							<a href="#" class="box-img-add-event"><!-- <img src="static/img/blank.png" alt="" title="" width="28" height="20" /> --></a>
							<div class="box-event-date">
								{% if w.dataWydarzenia == now %}
									dzisiaj
								{% else %}
								{{ w.dataWydarzenia|date:"SHORT_DATE_FORMAT" }}
								{% endif %}
								
								{{ w.godzinaOd|time:"H:i"  }} - {{ w.godzinaDo|time:"H:i"  }}</div>
							<div class="box-event-text"><a href="#" title="">{{ w.nazwa }}</a></div>
							<div class="box-event-where-new">miejsce???</div>
							<div class="box-event-who">{{ w.dodal.nick }}</div>
						</div>
					{% endfor %}	
					
					</div>
				</div>