html {
	height: 100%;
}

body {
	min-width: 960px;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #dddddd;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;
}

a {
	color: #000000;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

img {
	border: none;
}

#no-js {
	z-index: 1000;
	position: absolute;
	margin-top: 70px;
	margin-left: 5px;
	font-size: 10px;
}

#header {
	position: absolute;
	min-width: 960px;
	width: 100%;
	height: 70px;
	background: #449def;
	background-image:-webkit-linear-gradient(#449def, #3777b3);
	background-image:-moz-linear-gradient(top, #449def, #3777b3);
	background-image: -o-linear-gradient(#449def, #3777b3);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#449def', endColorstr='#3777b3')";
	background-image: -ms-linear-gradient(#449def, #3777b3);
	background-image: linear-gradient(#449def, #3777b3);
}

#header-logo {
	float: left;
	width: 240px;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
}

#header-login-form {
	display: block; /* display: block; / display: none; */
	float: right;
	width: 237px;
	height: 50px;
	margin-top: 15px;
	margin-right: 10px;
}

.header-login-table {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
}

.header-login-table th {
	border-width: 0px;
	padding: 0px;
	border-style: none;
}

.header-login-table td {
	float: left;
	width: 98px;
	height: 25px;
	border-width: 0px;
	padding: 0px;
	border-style: none;
	line-height: 24px;
}

.header-login-input {
	float: left;
	width: 80px;
	height: 16px;
	margin: 0px 0px 0px 5px;
	padding: 2px 3px;
	background: #eeeeee;
	color: black;
	border: 1px solid #d9d9d9;
	border-color: #c9c9c9 #d9d9d9 #e8e8e8;
	border-radius: 1px;
	outline: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	-webkit-background-clip: padding-box;
}

.header-login-submit {
	float: left;
	width: 30px;
	height: 22px;
	margin: 0px 0px 0px 5px;
	background: #eeeeee;
	color: black;
	border: 1px solid #d9d9d9;
	border-color: #c9c9c9 #d9d9d9 #e8e8e8;
	border-radius: 1px;
	outline: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	-webkit-background-clip: padding-box;
}

.header-login-text {
	font-size: 12px;
}

#header-logged-in-menu {
	display: block; /* display: block; / display: none; */
	float: right;
	width: 60px;
	height: 60px;
	margin-top: 5px;
	margin-right: 10px;
}

#header-account {
	font-size: 18px;
}

#header-logout {
	margin-top: 20px;
	font-size: 12px;
}

#header-menu {
	display: block;
	position: relative;
	width: 47%;
	height: 100%;
	margin: 0px auto;
}

.header-menu-box {
	display: inline-block;
	width: 89px;
	height: 69px;
	margin: -1px 0 0 -1px;
	background: #449def;
	background-image:-webkit-linear-gradient(#449def, #3777b3);
	background-image:-moz-linear-gradient(top, #449def, #3777b3);
	background-image: -o-linear-gradient(#449def, #3777b3);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#449def', endColorstr='#3777b3')";
	background-image: -ms-linear-gradient(#449def, #3777b3);
	background-image: linear-gradient(#449def, #3777b3);
	font-weight: bold;
	line-height: 14px;
	border: 1px solid #3777b3;
}

.header-menu-box:hover {
	height: 69px;
	background: #3777b3;
	background-image:-webkit-linear-gradient(#449def, #2f6699);
	background-image:-moz-linear-gradient(top, #449def, #2f6699);
	background-image: -o-linear-gradient(#449def, #2f6699);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#449def', endColorstr='#2f6699')";
	background-image: -ms-linear-gradient(#449def, #2f6699);
	background-image: linear-gradient(#449def, #2f6699);
	text-decoration: none;
}

#main {
	width: 960px;
	min-height: 100%;
	margin: 0 auto;
	background: #eeeeee;
	background-image:-webkit-linear-gradient(#ffffff, #bbbbbb);
	background-image:-moz-linear-gradient(top, #ffffff, #bbbbbb);
	background-image: -o-linear-gradient(#ffffff, #bbbbbb);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbbbbb')";
	background-image: -ms-linear-gradient(#ffffff, #bbbbbb);
	background-image: linear-gradient(#ffffff, #bbbbbb);
}

#main-skipper {
	padding-top: 70px;
}

#main-content {
	overflow: auto;
	padding: 5px 0px 45px 0px;
}

#footer {
	width: 100%;
	height: 40px;
	margin: -40px auto;
	background: #666666;
	background-image:-webkit-linear-gradient(#666666, #444444);
	background-image:-moz-linear-gradient(top, #666666, #444444);
	background-image: -o-linear-gradient(#666666, #444444);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#444444')";
	background-image: -ms-linear-gradient(#666666, #444444);
	background-image: linear-gradient(#666666, #444444);
}

#template {
	overflow: auto;
	z-index: 1000;
	display: none;
	position: absolute;
	float: right;
	width: 0px;
	height: 0px;
	margin: 0 auto;
	padding: 0;
	background: #ffffff;
	background-image:-webkit-linear-gradient(#666666, #555555); /* chrome 10+ safari 5.1+ */
	background-image:-moz-linear-gradient(top, #666666, #555555); /* firefox do 15 */
	background-image: -o-linear-gradient(#666666, #555555); /* opera 11.1+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#555555')"; /* ie8+ */
	background-image: -ms-linear-gradient(#666666, #555555); /* ie10 */
	background-image: linear-gradient(#666666, #555555);
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	background-image: url('../img/.png');
	background-repeat: repeat-x;
	background-position: top left;
	border: 1px solid #000000;
	border-radius: 10px 10px;
}

/*.formRegister {text-align: left;}
.formRegister DIV.height_10 {height: 10px}
.formRegister INPUT.checkbox {width: 50px; height:12px;}
.formRegister FIELDSET { border: none; }
.formRegister LEGEND   { font-size: 1.5em; font-weight: bold; margin: 0; padding: 0 0 15px 0; text-decoration: underline; }
 
.formRegister LABEL        { color: #C02942; display: inline; font-size: 1.1em; font-weight: bold; margin: 0; padding: 0 0 5px 0; }
.formRegister LABEL.error  { background: #ECD078; color: #C02942; margin: 5px 0 10px 0; padding: 5px; width: 290px; }
 
.formRegister INPUT,
.formRegister TEXTAREA       { border: 1px solid #542437; color: #542437; font-family: Arial, Helvetica, sans-serif; font-size: 1.1em; padding: 5px; width: 288px; height:30px;}
.formRegister INPUT:focus,
.formRegister TEXTAREA:focus { border: 1px solid #53777A; }
 
.formRegister INPUT[type=submit] { background: #53777A; border: 1px solid #542437; color: #ffffff; cursor: pointer; font-weight: bold; width: 300px; }*/
